{% extends 'base.html.twig' %}

{% block title %}Domyślne ustawienia{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/document.css') }}">
{% endblock %}

{% block body %}
    <!-- Content header -->
    <div class="content-header row">
        <div class="content-header-left col-md-6 col-12">
            <h3 class="content-header-title mb-0">Domyślne ustawienia Przeglądu urządzeń PPOŹ</h3>
        </div>

    </div>
    <!-- Content header -->

    <!-- Basic form layout section start -->
    <section id="horizontal-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title" id="horz-layout-basic">Dane podstawowe - domyślne</h4>
                        <hr>
                        <div class="alert alert-danger" role="alert">
                            Uwaga zdefiniowane poniżej wartości pojawią się jako domyślne w każdym nowo utworzonym
                            dokumencie
                        </div>
                        <a class="heading-elements-toggle"><i
                                    class="la la-ellipsis-v font-medium-3"></i></a>
                        <div class="heading-elements mt-0">
                            <a class="btn btn-primary btn-sm "
                               href="{{ path('def_document_edit') }}"><i
                                        class="la la-edit"></i> Edytuj domyślne dane podstawowe</a>
                        </div>

                    </div>


                    <div class="card-content collpase show">
                        <div class="card-body">


                            <h4><i class="ft-user"></i> Zakres wykonanych prac</h4>
                            <hr>
                            <div class="col-md-8">
                                <p>{{ document.scope|nl2br }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-content collpase show">
                        <div class="card-body">


                            <h4><i class="ft-user"></i> Wykaz urządzeń objętych przeglądem:</h4>
                            <hr>
                            <div class="col-md-8">
                                <p> {{ document.deviceShortlistPosition|nl2br }} </p>

                            </div>
                        </div>
                    </div>

                    <div class="card-content collpase show">
                        <div class="card-body">


                            <h4><i class="ft-user"></i> Podstawa opracowania</h4>
                            <hr>
                            <div class="col-md-8">
                                <p>{{ document.legal|nl2br }}</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>




    <!-- Other activities section-->

    <section class="row all-contacts">
        <div class="col-12">
            <div class="card">
                <div class="card-head">
                    <div class="card-header">
                        <h4 class="card-title">Tabela 2 - Pozostałe czynności</h4>
                    </div>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <!-- Task List table -->
                        <button id="add-doc-position" type="button"
                                class="btn btn-sm btn-info mb-1" data-id="{{ document.id }}">
                            Dodaj pozycję
                        </button>

                        <div class="table-responsive">
                            <table id="users-contacts"
                                   class="table table-condensed table-white-space table-bordered row-grouping display no-wrap icheck table-middle text-center">
                                <thead>
                                <tr>
                                    <th>Pozostałe czynności</th>
                                    <th>Wynik</th>
                                    <th>Uwagi</th>
                                    <th>Akcje</th>

                                </tr>
                                </thead>
                                <tbody id='tbody-tests'>

                                {% for position in document.docpositions %}
                                    <tr data-id="{{ position.id }}">
                                        <td class="text-center">
                                            <input class="hidden-op hidden-input"
                                                   id="i-name-{{ position.id }}"
                                                   value="{{ position.name }}"
                                                   readonly>
                                        </td>
                                        <td class="text-center">
                                            {% set checked = false %}
                                            {% if position.test == 1 %}
                                                {% set checked = true %}
                                            {% endif %}
                                            <input type="checkbox" class="column_filter change-checkbox switch"
                                                   id="i-test-{{ position.id }}"
                                                   {% if checked %}checked{% endif %}
                                                   data-icon-cls="fa" data-off-icon-cls="fa ft-thumbs-down"
                                                   data-on-icon-cls="fa ft-thumbs-up"
                                                   data-off-label="NEG"
                                                   data-on-label="POZ"
                                                   data-group-cls="btn-group-sm"
                                            >
                                        </td>
                                        <td class="text-center">
                                            <input class="hidden-op hidden-input"
                                                   id="i-comment-{{ position.id }}"
                                                   value="{{ position.comment }}"
                                                   readonly>
                                        </td>
                                        <td>
                                            <a id="edit-row-btn-{{ position.id }}" data-toggle="tooltip"
                                               title="Edytuj pozycję"
                                               class="primary edit-row-btn mr-1"><i
                                                        class="la la-pencil"></i></a>
                                            <a id="delete-row-btn" data-id="{{ position.id }}"
                                               data-toggle="tooltip"
                                               title="Usuń z przeglądu"
                                               class="delete-row-btn danger delete mr-1 "><i
                                                        class="la la-trash-o "></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Basic form layout section start -->
    <section id="horizontal-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title" id="horz-layout-basic">Podsumowanie przeglądu - domyślne</h4>
                        <a class="heading-elements-toggle"><i
                                    class="la la-ellipsis-v font-medium-3"></i></a>
                        <div class="heading-elements mt-0">
                            <a class="btn btn-primary btn-sm "
                               href="{{ path('def_document_edit_summary') }}"><i
                                        class="la la-edit"></i> Edytuj domyślne podsumowanie</a>
                        </div>
                    </div>
                    <div class="card-content collpase show">
                        <div class="card-body">


                            <h4><i class="ft-user"></i>Wnioski</h4>
                            <hr>
                            <div class="col-md-8">
                                <p>{{ document.conclusion|nl2br }}</p>

                            </div>
                        </div>
                    </div>
                    <div class="card-content collpase show">
                        <div class="card-body">


                            <h4><i class="ft-user"></i>Uwagi</h4>
                            <hr>
                            <div class="col-md-8">
                                <p>{{ document.comment|nl2br }}</p>

                            </div>
                        </div>
                    </div>
                    <div class="card-content collpase show">
                        <div class="card-body">


                            <h4><i class="ft-user"></i>Zalecenia</h4>
                            <hr>
                            <div class="col-md-8">
                                <p>{{ document.recomendations|nl2br }}</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        </div>
    </section>

{% endblock %}

{% block scripts %}

    <!-- BEGIN: Page Vendor JS-->
    <script src="{{ asset('app-assets/vendors/js/tables/datatable/datatables.min.js') }}"></script>
    <script src="{{ asset('app-assets/vendors/js/forms/toggle/bootstrap-switch.min.js') }}"></script>
    {#<script src="{{ asset('app-assets/vendors/js/forms/toggle/switchery.min.js') }}"></script>#}
    <script src="{{ asset('app-assets/vendors/js/forms/toggle/bootstrap-checkbox.min.js') }}"></script>
    <script src="{{ asset('app-assets/js/scripts/forms/switch.js') }}"></script>
    <script src="{{ asset('app-assets/vendors/js/tables/datatable/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('app-assets/vendors/js/tables/datatable/dataTables.select.min.js') }}"></script>

    <script src="{{ asset('app-assets/vendors/js/tables/datatable/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('app-assets/vendors/js/tables/datatable/buttons.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('app-assets/vendors/js/tables/datatable/dataTables.colVis.js') }}"></script>
    <!-- BEGIN: Page Vendor JS-->
    <script src="{{ asset('app-assets/js/core/libraries/jquery_ui/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('app-assets/vendors/js/extensions/sweetalert.min.js') }}"></script>

    <!-- END: Page Vendor JS-->
    <script src="{{ asset('app-assets/js/scripts/forms/switch.js') }}"></script>
    <!-- BEGIN: My JS-->
    <script src="{{ asset('assets/js/sweet-alerts.js') }}"></script>
    <script src="{{ asset('assets/js/document.js') }}"></script>
    <!-- END: My JS-->



{% endblock %}