{% extends 'base.html.twig' %}

{% block title %}Dodaj kategorię{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/category-new-edit.css') }}">
{% endblock %}

{% block body %}
    <!-- Content header -->
    <div class="content-header row">
        <div class="content-header-left col-md-6 col-12">
            <h3 class="content-header-title mb-0">Kategorie</h3>
            <div class="row breadcrumbs-top">
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('micro_default_index') }}">Główna</a>
                        </li>
                        <li class="breadcrumb-item"><a href="{{ path('category_index') }}">Lista kategorii</a>
                        </li>

                        <li class="breadcrumb-item active">Dodaj kategorię
                        </li>

                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Content header -->

    <!-- Basic form layout section start -->
    <section id="horizontal-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title" id="horz-layout-basic">Formularz tworzenia nowego klienta</h4>
                        <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                    </div>
                    <div class="card-content collpase show">
                        <div class="card-body">

                            {{ form_start(form, { 'attr': {'class': 'form form-horizontal inputmask'} }) }}


                            <div class="form-body">
                                <h4 class="form-section"><i class="ft-user"></i> Kategoria produktu</h4>
                                <div class="form-group row">
                                    {{ form_label(form.name, 'Nazwa kategorii (*)', { 'label_attr': {'class': 'col-md-3 label-control'} }) }}
                                    <div class="col-md-9 mx-auto">
                                        {{ form_widget(form.name, { 'attr': {'class': 'form-control', 'placeholder': 'Wprowadź nazwę'} }) }}
                                        <div class="form-error">
                                            {{ form_errors(form.name) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    {{ form_label(form.icon, 'Ikona', { 'label_attr': {'class': 'col-md-3 label-control'} }) }}
                                    <div class="col-md-6 mx-auto">
                                        {{ form_widget(form.icon, { 'attr': {'class': 'form-control', 'placeholder': 'Wprowadź nazwę'} }) }}
                                        <b><i id="icon-preview" class="{% if category.icon %}{{ category.icon }}{% endif %}"></i></b>
                                        <!-- Button to Open the Modal -->
                                    </div>
                                        <button type="button" class="btn btn-outline-info btn-sm " data-toggle="modal" data-target="#icon-modal">
                                            <i class="la la-search"></i> Wybierz ikonę
                                        </button>
                                    <div class="form-error">
                                        {{ form_errors(form.icon) }}
                                    </div>
                                </div>
                                <div class="form-group row" id="wrap">
                                    {{ form_label(form.parent, 'Kategoria nadrzędna', { 'label_attr': {'class': 'col-md-3 label-control'} }) }}
                                    <div class="col-md-9 mx-auto " style="display:none">
                                        {{ form_widget(form.parent, { 'attr': {'class': 'form-control'} }) }}
                                        <div class="form-error">
                                            {{ form_errors(form.parent) }}
                                        </div>
                                    </div>
                                    <div id="temp-input" class="col-md-9 mx-auto ">
                                        <input class="form-control " id="modal-trigger" readonly
                                               value="{% if category.parent %}{{ category.parent.fullPath }}{% else %}Brak{% endif %}">
                                        </input>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    {{ form_label(form.parameters, 'Lista parametrów', { 'label_attr': {'class': 'col-md-3 label-control'} }) }}
                                    <div class="col-md-9 mx-auto">
                                        <ul class="parameters"
                                            data-prototype="{{ form_widget(form.parameters.vars.prototype.name)|e('html_attr') }}">
                                            {# iterate over each existing tag and render its only field: name #}
                                            {% for parameter in form.parameters %}
                                                <li>{{ form_widget(parameter.name) }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="form-error">
                                        {{ form_errors(form.parameters) }}
                                    </div>
                                </div>

                                <div class="form-actions">
                                    <button type="button" onClick="javascript:history.go(-1)"
                                            class="btn btn-warning mr-1">
                                        <i class="ft-x"></i> Anuluj
                                    </button>
                                    <button type="submit" class="btn btn-primary">
                                        <i class="la la-check-square-o"></i> Zapisz
                                    </button>
                                </div>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Modal Category -->
    <!-- Modal -->
    <div id="category-modal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <div class="container-fluid">
                        <div class="row">
                            <div id="main-header-modal">
                                <h4 class="modal-title">Wybierz kategorię </h4>
                            </div>
                            <div class="vl"></div>
                            <div id="sub-header-modal">
                                <h4 id="sub-category-name" class="modal-title">
                                    {% if categories is not empty %}{{ categories|first.name }}{% endif %}</h4>
                            </div>
                            <div>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div id="main-category-list">
                                <ol id="main-category-ol">
                                    {% for parentCategory in categories %}
                                        {% if parentCategory.children is not empty %}
                                            {% set last = "false" %}
                                            {% set sign = ">" %}
                                        {% else %}
                                            {% set last = "true" %}
                                            {% set sign = "" %}
                                        {% endif %}
                                        {% if parentCategory.parent is null %}
                                            <li class="category-li"><a class="category-name info"
                                                                       data-id="{{ parentCategory.id }}"
                                                                       data-parent-id="false"
                                                                       data-last={{ last }}
                                                >{{ parentCategory.name }} {{ sign }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ol>
                            </div>
                            <div class="vl"></div>
                            <div id="sub-category-list">
                                <ol id="sub-category-ol">
                                    {% if categories is not empty %}
                                        {% for childCategory in categories|first.children %}
                                            {% if childCategory.children is not empty %}
                                                {% set last = "false" %}
                                                {% set sign = ">" %}
                                            {% else %}
                                                {% set last = "true" %}
                                                {% set sign = "" %}
                                            {% endif %}
                                            <li class="category-li"><a class="category-name info"
                                                                       data-id="{{ childCategory.id }}"
                                                                       data-parent-id="{{ categories|first.id }}"
                                                                       data-last={{ last }}
                                                >{{ childCategory.name }}</a></li>
                                        {% endfor %}
                                    {% endif %}
                                </ol>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button id="reset-button" type="button" class="btn btn-outline-warning"><i
                                class="la la-refresh"></i>
                        Zresetuj
                    </button>
                    <button id="choose-button" type="button" class="btn btn-outline-info"><i class="la la-check"></i>
                        Wybierz
                    </button>
                </div>
            </div>

        </div>
    </div>
    <!-- Modal Category -->



{% include 'category/modal-icon.html.twig' %}

{% endblock %}

{% block scripts %}
    <!-- BEGIN: My JS-->
    <script src="{{ asset('assets/js/category-new-edit.js') }}"></script>
    <!-- END: My JS-->
{% endblock %}