{% extends 'base.html.twig' %}

{% block title %}Budynek{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/building-devices.css') }}">
{% endblock %}

{% block body %}
    <!-- Content header -->
    <div class="content-header row">
        <div class="content-header-left col-md-4 col-12">

        </div>
        <div class="content-header-left col-md-8 col-12">
            <div class="btn-group float-md-right" role="group"
                 aria-label="Button group with nested dropdown">
                <div class="btn-group" role="group">
                    <a class="btn btn-outline-info round" href="{{ path('building_show', { 'id': building.id }) }}"><i
                                class="la la-backward"></i> Wróć do budynku</a>
                    <button class="btn btn-outline-info round " data-toggle="modal"
                            data-target="#AddLoopModal">
                        <i class="la la-plus"></i>&nbsp
                        Dodaj wiele urządzeń
                    </button>

                </div>
            </div>
        </div>
    </div>
    <!-- Content header -->




    <section id="section" class="row all-contacts">
        <div class="col-12">
            <div class="card">
                <div class="card-head">
                    <div class="card-header">
                        <h4 class="card-title">Pętla urządzeń nr {{ loop_no }}</h4>
                        {#<div class="heading-elements mt-0">#}
                        {#<button id="add-button"#}
                        {#class="btn btn-primary btn-sm add-device-button " data-toggle="modal"#}
                        {#data-target="#AddDeviceModal">#}
                        {#<i class="d-md-none d-block ft-plus white"></i>#}
                        {#<span class="d-md-block d-none ">Dodaj nowe urządzenie</span>#}
                        {#</button>#}
                        {#<button id="del-button"#}
                        {#class="btn btn-secondary btn-sm delete-loop-button">#}
                        {#<i class="d-md-none d-block ft-plus white"></i>#}
                        {#<span class="d-md-block d-none ">Usuń pętlę</span>#}
                        {#</button>#}
                        {##}
                        {#</div>#}
                    </div>
                </div>
                <div class="card-content">
                    <div class="card-body">

                        <!-- Device List table -->
                        {#<button type="button" class="btn btn-sm btn-danger delete-all mb-1">Usuń Wszystkie</button>#}
                        <div class="table-responsive">
                            <table class="devices-table table table-striped table-white-space table-sm table-bordered
                                            row-grouping display no-wrap icheck text-center">
                                <thead>

                                <tr>
                                    <th>L.p.</th>
                                    <th>Nr</th>
                                    <th>Nazwa</th>
                                    <th>Skrót</th>
                                    <th>Serial</th>
                                    <th>Adress</th>
                                    <th>Ostatni przegląd</th>
                                    <th>Akcje</th>
                                </tr>

                                </thead>
                                <tbody id="tbody-{{ loop_no }}">
                                {% set order = 1 %}
                                {% for device in devices|sort %}
                                    {% if device.del != true %}
                                        <tr id="row-{{ device.id }}">
                                            <td class="text-center order">
                                                {{ ++order }}{% set order = order + 1 %}
                                            </td>

                                            <td class="text-right">{{ device.loopNo }} /
                                                <input type="number" min="1" max="255"
                                                       class="hidden-op hidden-input unique-input"
                                                       id="i-number-{{ device.id }}"
                                                       value="{{ device.number }}"
                                                       readonly>
                                            </td>

                                            <td class="text-center">
                                                <a class="text-center "
                                                   id="i-name-{{ device.id }}">{{ device.name }}</a>
                                            </td>
                                            <td class="text-center">
                                                <select class=" hidden-op hidden-select"
                                                        id="i-shortname-{{ device.id }}"
                                                        disabled>
                                                    <option value="{{ device.shortname }}"
                                                            selected>{{ device.shortname }}</option>
                                                    {% for short in shortnames %}
                                                        {% if device.shortname != short %}
                                                            <option value="{{ short }}">{{ short }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td class="text-center">
                                                <input class="hidden-op hidden-input" id="i-serial-{{ device.id }}"
                                                       value="{{ device.serial }}"
                                                       readonly style="width:100%">
                                            </td>
                                            <td class="text-center">
                                                <input class="hidden-op hidden-input" id="i-address-{{ device.id }}"
                                                       value="{{ device.address }}"
                                                       readonly>
                                            </td>
                                            <td class="text-center">
                                                <a class="timeline-date">
                                                    {{ device.lastServiceDate is empty ? "Brak" : device.lastServiceDate| date('Y/m/d') }}
                                                </a>
                                            </td>

                                            <td>
                                                <a id="info-{{ device.id }}" data-toggle="modal"
                                                   data-target="#info-modal"
                                                   title="Pokaż info"
                                                   class=" info mr-1 info-modal-btn"><i
                                                            class="la la-info "></i></a>
                                                <a id="edit-row-btn-{{ device.id }}"
                                                   class="primary edit-row-btn mr-1"><i
                                                            class="la la-pencil"></i></a>
                                                <a data-device="{{ device.id }}"
                                                   class="danger delete-row-btn mr-1"><i
                                                            class="la la-trash-o"></i></a>

                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}

                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>L.p.</th>
                                    <th>Nr</th>
                                    <th>Nazwa</th>
                                    <th>Skrót</th>
                                    <th>Serial</th>
                                    <th>Adress</th>
                                    <th>Ostatni przegląd</th>
                                    <th>Akcje</th>
                                </tfoot>
                            </table>
                            <button id="add-row-btn" data-building="{{ building.id }}" data-loopno="{{ loop_no }}">Dodaj
                                nowe urządzenie
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    {% include 'building/devices-modals.html.twig' %}


{% endblock %}

{% block scripts %}

    <!-- BEGIN: Vendor JS-->
    <script src="{{ asset('app-assets/vendors/js/vendors.min.js') }}"></script>
    <script src="{{ asset('app-assets/vendors/js/tables/datatable/datatables.min.js') }}"></script>
    <script src="{{ asset('app-assets/vendors/js/extensions/sweetalert.min.js') }}"></script>
    <!-- END: Page Vendor JS-->

    <!-- BEGIN: Page JS-->
    <script src="{{ asset('app-assets/js/scripts/tables/datatables/datatable-basic.js') }}"></script>
    <script src="{{ asset('assets/js/sweet-alerts.js') }}"></script>
    <!-- END: Page JS-->


    <!-- BEGIN: My JS-->
    <script src="{{ asset('assets/js/building-devices.js') }}"></script>
    <!-- END: My JS-->


{% endblock %}