{% extends 'base_document.html.twig' %}

{% block title %}Dokumenty budynku{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/building-documents.css') }}">
{% endblock %}

{% block body %}

    <!-- Content header -->
    <div class="content-header row">
        <div class="content-header-left col-md-6 col-12">
            <h3 class="content-header-title mb-0">Baza budynków</h3>
            <div class="row breadcrumbs-top">
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a
                                    href="{{ path('micro_default_index') }}">Główna</a>
                        </li>
                        <li class="breadcrumb-item"><a href="{{ path('client_index') }}">Lista
                                klientów</a>
                        </li>
                        <li class="breadcrumb-item"><a href="{{ path('client_show', { 'id': building.client.id }) }}">
                                Klient {{ building.client.name }}</a>
                        </li>

                        <li class="breadcrumb-item active">Dokumenty
                        </li>

                    </ol>
                </div>
            </div>
        </div>
        <div class="content-header-left col-md-6 col-12">
            <div class="btn-group float-md-right" role="group"
                 aria-label="Button group with nested dropdown">
                <div class="btn-group" role="group">
                    <a class="btn btn-outline-info round" href="{{ path('building_show', { 'id': building.id }) }}"><i
                                class="la la-backward"></i> Wróć do budynku</a>
                    <button class="btn btn-outline-info round " data-toggle="modal"
                            data-target="#addPdf">
                        <i class="d-md-none d-block ft-plus white"></i>
                        <span class="d-md-block d-none">Dodaj nowy dokument</span></button>

                </div>
            </div>
        </div>
    </div>
    <!-- Content header -->

    <!-- Basic form layout section start -->
    <section id="horizontal-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title" id="horz-layout-basic">Budynek</h4>
                        <a class="heading-elements-toggle"><i
                                    class="la la-ellipsis-v font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                <li><a data-action="close"><i class="ft-x"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-content collpase show">
                        <div class="card-body">

                            <h4><i class="ft-file"></i> Dokumenty budynku</h4>
                            <hr>

                            {% for pdf in building.pdfdocuments %}
                                <div class="float-left p-1">
                                    <p><input id="pdf-name-{{ pdf.id }}" class="name-input" data-id ="{{ pdf.id }}" value="{{ pdf.name }}" readonly>
                                        <a  data-toggle="tooltip"

                                           title="Edytuj nazwę"
                                           class="primary edit-name-btn mr-1"><i
                                                    class="la la-pencil"></i></a>
                                    </p>
                                    <a href="{{ asset('uploads/pdfs/' ~ pdf.pdfFileName) }}"
                                       style="display: block; z-index: 1;" target="_blank">
                                        <object data="{{ asset('uploads/pdfs/' ~ pdf.pdfFileName) }}"
                                                height="350" width="250"
                                                style="z-index: -1; pointer-events: none;"></object>
                                    </a>

                                    <a href="{{ path('building_document_delete', { 'id': building.id , 'pdfDocument' : pdf.id }) }}"
                                       class="btn btn-danger btn-grad btn-rect btn-sm">
                                        <span class="link-title">Usuń</span>
                                    </a>
                                    <span>Kliknij aby powiększyć</span>
                                </div>
                            {% else %}
                                {% set picture = "defaultpdf.png" %}
                                <div>
                                    <a href="{{ asset('uploads/pdfs' ~ picture) }}" target=" _blank">
                                    <img src="{{ asset('uploads/pdfs/' ~ picture) }}" alt="PDF dokument"
                                         height="200" width="200">
                                    </a>
                                </div>
                            {% endfor %}


                            <!-- /.col-lg-6 -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!---------------Modals----------------->

    <!--------------Begin AddPdfModal---------->
    <!-- Modal -->
    <div class="modal fade" id="addPdf" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Wgraj PDF z dysku</h5>
                    <button type="button" class="close" data-dismiss="modal"><span
                                aria-hidden="true">&times;</span><span class="sr-only">Zamknij</span></button>
                </div>
                <div class="modal-body">
                    <div id="div-1" class="body">
                        {{ form_start(pdf_form, { 'attr': {'class': 'form-horizontal'} }) }}
                        <div class="form-group row">
                            {{ form_label(pdf_form.name, 'Nazwa', { 'label_attr': {'class': 'col-md-3 label-control'} }) }}
                            <div class="col-md-9 mx-auto">
                                {{ form_widget(pdf_form.name, { 'attr': {'class': 'form-control' } }) }}

                            </div>
                        </div>
                        <div class="form-group row">
                            {{ form_label(pdf_form.pdf, 'PDF', { 'label_attr': {'class': 'col-md-3 label-control'} }) }}
                            <div class="col-md-9 mx-auto">
                                {{ form_row(pdf_form.pdf, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="submit" value="Wgraj skan dokumentu w formacie pdf"
                                   class="btn btn-primary btn-grad control-label"/>
                            <button type="button" class="btn btn-primary btn-grad control-label" data-dismiss="modal">
                                Zamknij
                            </button>
                        </div>

                        {{ form_end(pdf_form) }}

                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--------------End AddDeviceModal---------->



{% endblock %}

{% block scripts %}

    <!-- BEGIN: Vendor JS-->
    <script src="{{ asset('app-assets/vendors/js/vendors.min.js') }}"></script>
    <script src="{{ asset('app-assets/vendors/js/tables/datatable/datatables.min.js') }}"></script>
    <script src="{{ asset('app-assets/vendors/js/extensions/sweetalert.min.js') }}"></script>
    <!-- END: Page Vendor JS-->

    <!-- BEGIN: Page JS-->
    <script src="{{ asset('app-assets/js/scripts/tables/datatables/datatable-basic.js') }}"></script>
    <script src="{{ asset('assets/js/sweet-alerts.js') }}"></script>
    <!-- END: Page JS-->


    <!-- BEGIN: My JS-->
    <script src="{{ asset('assets/js/building-documents.js') }}"></script>
    <!-- END: My JS-->


{% endblock %}