{% extends 'base.html.twig' %}

{% block title %}Dodaj budynek{% endblock %}

{% block body %}
    <!-- Content header -->
    <div class="content-header row">
        <div class="content-header-left col-md-6 col-12">
            <h3 class="content-header-title mb-0">Baza budynków</h3>
            <div class="row breadcrumbs-top">
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('micro_default_index') }}">Główna</a>
                        </li>
                        <li class="breadcrumb-item"><a href="{{ path('client_index') }}">Lista
                                klientów</a>
                        </li>
                        <li class="breadcrumb-item"><a href = "{{ path('client_show', { 'id': building.client.id }) }}">
                                Klient {{ building.client.name }}</a>
                        </li>

                        <li class="breadcrumb-item active">Modyfikowanie budynku
                        </li>

                    </ol>
                </div>
            </div>
        </div>
        <div class="content-header-left col-md-6 col-12">
            <div class="btn-group float-md-right" role="group" aria-label="Button group with nested dropdown">
                <div class="btn-group" role="group">
                    <a class="btn btn-outline-info round" href = "{{ path('client_show', { 'id': building.client.id }) }}"><i
                                class="la la-backward"></i> Wróć do klienta</a>

                    <button class="btn btn-outline-info round dropdown-toggle dropdown-menu-right" id="btnGroupDrop1"
                            type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                                class="icon-cog3 icon-left"></i> Ustawienia
                    </button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1"><a class="dropdown-item"
                                                                                  href="card-bootstrap.html">Bootstrap
                            Cards</a><a class="dropdown-item" href="component-buttons-extended.html">Buttons
                            Extended</a></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content header -->

    <!-- Basic form layout section start -->
    <section id="horizontal-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title" id="horz-layout-basic">Formularz edycji budynku</h4>
                        <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                <li><a data-action="close"><i class="ft-x"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-content collpase show">
                        <div class="card-body">

                            {{ form_start(edit_form, { 'attr': {'class': 'form form-horizontal inputmask'} }) }}


                            <div class="form-body">
                                <h4 class="form-section"><i class="ft-user"></i> Dane Budynku</h4>
                                <div class="form-group row">
                                    {{ form_label(edit_form.name, 'Nazwa budynku', { 'label_attr': {'class': 'col-md-3 label-control'} }) }}
                                    <div class="col-md-9 mx-auto">
                                        {{ form_widget(edit_form.name, { 'attr': {'class': 'form-control', 'placeholder': 'Wprowadź nazwę'} }) }}

                                    </div>
                                </div>
                                <div class="form-group row">
                                    {{ form_label(edit_form.street, 'Ulica', { 'label_attr': {'class': 'col-md-3 label-control'} }) }}
                                    <div class="col-md-9 mx-auto">
                                        {{ form_widget(edit_form.street, { 'attr': {'class': 'form-control', 'placeholder': 'Wprowadź ulicę'} }) }}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    {{ form_label(edit_form.houseNo, 'Nr domu / Nr mieszkania', { 'label_attr': {'class': 'col-md-3 label-control'} }) }}
                                    <div class="col-md-4 ">
                                        {{ form_widget(edit_form.houseNo, { 'attr': {'class': 'form-control ', 'placeholder': 'Numer domu'} }) }}
                                    </div>
                                    <h2>/</h2>
                                    {#</div>#}
                                    {#<div class="form-group row">#}
                                    {#{{ form_label(edit_form.flatNo, 'Nr mieszkania', { 'label_attr': {'class': 'col-md-3 label-control'} }) }}#}
                                    <div class="col-md-4 ">
                                        {{ form_widget(edit_form.flatNo, { 'attr': {'class': 'form-control', 'placeholder': 'Numer mieszkania'} }) }}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    {{ form_label(edit_form.city, 'Miasto', { 'label_attr': {'class': 'col-md-3 label-control'} }) }}
                                    <div class="col-md-9 mx-auto">
                                        {{ form_widget(edit_form.city, { 'attr': {'class': 'form-control', 'placeholder': 'Wprowadź miasto'} }) }}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    {{ form_label(edit_form.postalCode, 'Kod pocztowy', { 'label_attr': {'class': 'col-md-3 label-control'} }) }}
                                    <div class="col-md-9 mx-auto">
                                        {{ form_widget(edit_form.postalCode, { 'attr': {'class': 'form-control', 'placeholder': 'Wprowadź kod pocztowy'} }) }}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    {{ form_label(edit_form.description, 'Opis budynku', { 'label_attr': {'class': 'col-md-3 label-control'} }) }}
                                    <div class="col-md-9 mx-auto">
                                        {{ form_widget(edit_form.description, { 'attr': {'class': 'form-control', 'placeholder': 'Wprowadź opis'} }) }}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    {{ form_label(edit_form.deviceShortlistPosition, 'Skrócona lista urządzeń', { 'label_attr': {'class': 'col-md-3 label-control'} }) }}
                                    <div class="col-md-9 mx-auto">
                                        {{ form_widget(edit_form.deviceShortlistPosition, { 'attr': {'class': 'form-control', 'rows' : 10} }) }}
                                    </div>
                                </div>



                                <div class="form-actions">
                                    <button type="button" onClick="javascript:history.go(-1)"
                                            class="btn btn-warning mr-1">
                                        <i class="ft-x"></i> Anuluj
                                    </button>
                                    <button type="submit" class="btn btn-primary">
                                        <i class="la la-check-square-o"></i> Zapisz zmiany
                                    </button>
                                </div>
                                {{ form_end(edit_form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



{% endblock %}

{% block scripts %}
    <!-- BEGIN: Page JS-->
    <script src="{{ asset('app-assets/vendors/js/forms/extended/inputmask/jquery.inputmask.bundle.min.js') }}"></script>
    <script src="{{ asset('app-assets/js/scripts/forms/extended/form-inputmask.js') }}"></script>
    <!-- END: Page JS-->
{% endblock %}