{% extends 'base.html.twig' %}

{% block title %}Budynek{% endblock %}

{% block body %}
    <!-- Content header -->
    <div class="content-header row">
        <div class="content-header-left col-md-6 col-12">
            <h3 class="content-header-title mb-0">Baza budynków</h3>
            <div class="row breadcrumbs-top">
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a
                                    href="{{ path('micro_default_index') }}">Główna</a>
                        </li>
                        <li class="breadcrumb-item"><a href="{{ path('client_index') }}">Lista
                                klientów</a>
                        </li>
                        <li class="breadcrumb-item"><a href="{{ path('client_show', { 'id': building.client.id }) }}">
                                Klient {{ building.client.name }}</a>
                        </li>

                        <li class="breadcrumb-item active">Budynek o nazwie {{ building.name }}
                        </li>

                    </ol>
                </div>
            </div>
        </div>
        <div class="content-header-left col-md-6 col-12">
            <div class="btn-group float-md-right" role="group"
                 aria-label="Button group with nested dropdown">
                <div class="btn-group" role="group">
                    <a class="btn btn-outline-info round" href="{{ path('building_index') }}"><i
                                class="la la-backward"></i> Wróć do listy budynków</a>

                    <button class="btn btn-outline-info round dropdown-toggle dropdown-menu-right"
                            id="btnGroupDrop1"
                            type="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false"><i
                                class="icon-cog3 icon-left"></i> Ustawienia
                    </button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1"><a class="dropdown-item"
                                                                                  href="card-bootstrap.html">Bootstrap
                            Cards</a><a class="dropdown-item" href="component-buttons-extended.html">Buttons
                            Extended</a></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content header -->

    <!-- Basic form layout section start -->
    <section id="horizontal-form-layouts">
        <div class="row">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title" id="horz-layout-basic">Budynek</h4>
                        <a class="heading-elements-toggle"><i
                                    class="la la-ellipsis-v font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                <li><a data-action="close"><i class="ft-x"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-content collpase show">
                        <div class="card-body">


                            <h4><i class="ft-home"></i> Dane Budynku</h4>
                            <hr>
                            <div class="col-md-8">
                                <table class="table table-borderless table-column">
                                    <tr>
                                        <th>Nazwa budynku:</th>
                                        <td>{{ building.name }}</td>
                                    </tr>
                                    <tr>
                                        <th>Adres:</th>
                                        <td>ul.{{ building.street }} {{ building.houseNo }}/{{ building.flatNo }}</td>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <td>{{ building.city }} {{ building.postalCode }}</td>
                                    </tr>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

    <section class="row all-contacts">
        <div class="col-12">
            <div class="card">
                <div class="card-head">
                    <div class="card-header">
                        <h4 class="card-title">Urządzenia PPOŻ w tym budynku</h4>
                        <div class="heading-elements mt-0">
                            <button class="btn btn-primary btn-sm " data-toggle="modal" data-target="#AddContactModal">
                                <i class="d-md-none d-block ft-plus white"></i>
                                <span class="d-md-block d-none">Dodaj nowe urządzenie</span></button>
                            <div class="modal fade" id="AddContactModal" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalLabel1" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">

                                        <section class="contact-form">
                                            {{ form_start(form, { 'attr': {'class': 'form form-horizontal inputmask contact-input'} }) }}

                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel1">Dodaj nowe
                                                    urządzenie</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="form-body">
                                                    <h4 class="form-section"><i class="ft-user"></i> Dane Urządzenia
                                                    </h4>
                                                    <div class="form-group row">
                                                        {{ form_label(form.name, 'Nazwa', { 'label_attr': {'class': 'col-md-3 label-control'} }) }}
                                                        <div class="col-md-9 mx-auto">
                                                            {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}

                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        {{ form_label(form.shortname, 'Skrót', { 'label_attr': {'class': 'col-md-3 label-control'} }) }}
                                                        <div class="col-md-9 mx-auto">
                                                            {{ form_widget(form.shortname, { 'attr': {'class': 'form-control'} }) }}
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        {{ form_label(form.loopNo, 'Nr pętli', { 'label_attr': {'class': 'col-md-3 label-control'} }) }}
                                                        <div class="col-md-9 ">
                                                            {{ form_widget(form.loopNo, { 'attr': {'class': 'form-control ', 'placeholder': 'Wprowadź numer pętli'} }) }}
                                                        </div>

                                                    </div>
                                                    <div class="form-group row">
                                                        {{ form_label(form.number, 'Numer', { 'label_attr': {'class': 'col-md-3 label-control'} }) }}
                                                        <div class="col-md-9 mx-auto">
                                                            {{ form_widget(form.number, { 'attr': {'class': 'form-control', 'placeholder': 'Wprowadź numer'} }) }}
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="modal-footer">
                                                    <div class="">
                                                        <button type="button" data-dismiss="modal"
                                                                class="btn btn-warning mr-1">
                                                            <i class="ft-x"></i> Anuluj
                                                        </button>
                                                        <button type="submit" class="btn btn-primary">
                                                            <i class="la la-check-square-o"></i> Zapisz
                                                        </button>
                                                    </div>
                                                </div>
                                                {{ form_end(form) }}
                                            </div>
                                        </section>

                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" id="EditContactModal" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">

                                        <section class="contact-form">
                                            {{ form_start(edit_form, { 'attr': {'class': 'form form-horizontal inputmask contact-input', 'name' : 'test'} }) }}

                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel"> Modyfikuj
                                                    urządzenie</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="form-body">
                                                    <h4 class="form-section"><i class="ft-user"></i> Dane Urządzenia
                                                    </h4>

                                                    {{ form_widget(edit_form.id, { 'attr': {'class': 'form-control'} }) }}


                                                    <div class="form-group row">
                                                        {{ form_label(edit_form.name, 'Nazwa', { 'label_attr': {'class': 'col-md-3 label-control'} }) }}
                                                        <div class="col-md-9 mx-auto">
                                                            {{ form_widget(edit_form.name, { 'attr': {'class': 'form-control'} }) }}

                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        {{ form_label(edit_form.shortname, 'Skrót', { 'label_attr': {'class': 'col-md-3 label-control'} }) }}
                                                        <div class="col-md-9 mx-auto">
                                                            {{ form_widget(edit_form.shortname, { 'attr': {'class': 'form-control'} }) }}
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        {{ form_label(edit_form.loopNo, 'Nr pętli', { 'label_attr': {'class': 'col-md-3 label-control'} }) }}
                                                        <div class="col-md-9 ">
                                                            {{ form_widget(edit_form.loopNo, { 'attr': {'class': 'form-control '} }) }}
                                                        </div>

                                                    </div>
                                                    <div class="form-group row">
                                                        {{ form_label(edit_form.number, 'Numer', { 'label_attr': {'class': 'col-md-3 label-control'} }) }}
                                                        <div class="col-md-9 mx-auto">
                                                            {{ form_widget(edit_form.number, { 'attr': {'class': 'form-control'} }) }}
                                                        </div>
                                                    </div>

                                                </div>


                                                <div class="modal-footer">

                                                    <div class="">
                                                        <button type="button" data-dismiss="modal"
                                                                class="btn btn-warning mr-1">
                                                            <i class="ft-x"></i> Anuluj
                                                        </button>
                                                        <button type="submit" class="btn btn-primary">
                                                            <i class="la la-check-square-o"></i> Zapisz zmiany
                                                        </button>
                                                    </div>
                                                </div>
                                                {{ form_end(form) }}
                                            </div>
                                        </section>

                                    </div>
                                </div>
                            </div>
                            <span class="dropdown">
                                                <button id="btnSearchDrop1" type="button" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="true"
                                                        class="btn btn-warning dropdown-toggle dropdown-menu-right btn-sm"><i
                                                            class="ft-download-cloud white"></i></button>
                                                <span aria-labelledby="btnSearchDrop1"
                                                      class="dropdown-menu mt-1 dropdown-menu-right">
                                                    <a href="#" class="dropdown-item"><i
                                                                class="ft-upload"></i> Import</a>
                                                    <a href="#" class="dropdown-item"><i class="ft-download"></i> Export</a>
                                                    <a href="#" class="dropdown-item"><i class="ft-shuffle"></i> Find Duplicate</a>
                                                </span>
                                            </span>
                            <button class="btn btn-default btn-sm"><i class="ft-settings white"></i></button>
                        </div>
                    </div>
                </div>
                <div class="card-content">
                    <div class="card-body">

                        <!-- Device List table -->
                        <button type="button" class="btn btn-sm btn-danger delete-all mb-1">Usuń Wszystkie</button>
                        <div class="table-responsive">
                            <table id="users-contacts"
                                   class="table table-white-space table-bordered row-grouping display no-wrap icheck table-middle text-center">
                                <thead>

                                <tr>
                                    <th>Nr pętli</th>
                                    <th>Nr urządzenia</th>
                                    <th>Nazwa</th>
                                    <th>Skrót</th>
                                    <th>Ostatni przegląd</th>
                                    <th>Akcje</th>
                                </tr>

                                </thead>
                                <tbody>
                                {% for device in building.fireProtectionDevices|sort %}
                                    <tr>
                                        <td class="text-center">
                                            <a class="text-center" id="loop-{{ device.id }}">{{ device.loopNo }}</a>
                                        </td>
                                        <td class="text-center">
                                            <a class="text-center" id="number-{{ device.id }}">{{ device.number }}</a>
                                        </td>
                                        <td class="text-center">
                                            <a class="text-center" id="name-{{ device.id }}">{{ device.name }}</a>
                                        </td>
                                        <td class="text-center">
                                            <a class="text-center "
                                               id="shortname-{{ device.id }}">{{ device.shortname }}</a>
                                        </td>
                                        <td class="text-center">
                                            <a class="timeline-date">{{ device.lastServiceDate }}</a>
                                        </td>

                                        <td>
                                            <a data-toggle="modal" data-target="#EditContactModal"
                                               id="edit-{{ device.id }}"
                                               class="primary edit mr-1"><i class="la la-pencil"></i></a>
                                            <a class="danger delete mr-1"><i class="la la-trash-o"></i></a>

                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>Nr pętli</th>
                                    <th>Nr urządzenia</th>
                                    <th>Nazwa</th>
                                    <th>Skrót</th>
                                    <th>Ostatni przegląd</th>
                                    <th>Akcje</th>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="row all-contacts">
        <div class="col-12">
            <div class="card">
                <div class="card-head">
                    <div class="card-header">
                        <h4 class="card-title">Przeglądy PPOŻ dla tego budynku</h4>
                        <div class="heading-elements mt-0">
                            <button class="btn btn-primary btn-sm ">
                                <i class="d-md-none d-block ft-plus white"></i>
                                <span class="d-md-block d-none">Dodaj nowy przeglad</span></button>

                            <span class="dropdown">
                                                <button id="btnSearchDrop1" type="button" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="true"
                                                        class="btn btn-warning dropdown-toggle dropdown-menu-right btn-sm"><i
                                                            class="ft-download-cloud white"></i></button>
                                                <span aria-labelledby="btnSearchDrop1"
                                                      class="dropdown-menu mt-1 dropdown-menu-right">
                                                    <a href="#" class="dropdown-item"><i
                                                                class="ft-upload"></i> Import</a>
                                                    <a href="#" class="dropdown-item"><i class="ft-download"></i> Export</a>
                                                    <a href="#" class="dropdown-item"><i class="ft-shuffle"></i> Find Duplicate</a>
                                                </span>
                                            </span>
                            <button class="btn btn-default btn-sm"><i class="ft-settings white"></i></button>
                        </div>
                    </div>
                </div>
                <div class="card-content">
                    <div class="card-body">

                        <!-- FieInspections table -->
                        <button type="button" class="btn btn-sm btn-danger delete-all mb-1">Usuń Wszystkie</button>
                        <div class="table-responsive">
                            <table id="users-contacts"
                                   class="table table-white-space table-bordered row-grouping display no-wrap icheck table-middle text-center">
                                <thead>

                                <tr>
                                    <th>Numer</th>
                                    <th>Data przeglądu</th>
                                    <th>Data następnego</th>
                                    <th>Ilość urządzeń</th>

                                </tr>
                                {% for fireInspection in building.fireInspections|sort %}
                                    <tr>
                                        <td>
                                            <a href="{{ path('fireinspection_show', { 'id': fireInspection.id }) }}">{{ fireInspection.id }}</a>
                                        </td>
                                        <td>{% if fireInspection.inspectionDate %}{{ fireInspection.inspectionDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                                        <td>{% if fireInspection.nextInspectionDate %}{{ fireInspection.nextInspectionDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                                        <td>{{ fireInspection.inspectedDevices|length }}</td>

                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>Numer</th>
                                    <th>Data przeglądu</th>
                                    <th>Data następnego</th>
                                    <th>Ilość urządzeń</th>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}

{% block scripts %}

    <!-- BEGIN: Vendor JS-->
    <script src="{{ asset('app-assets/vendors/js/vendors.min.js') }}"></script>
    <!-- BEGIN Vendor JS-->

    <!-- BEGIN: Page Vendor JS-->
    <script src="{{ asset('app-assets/vendors/js/tables/datatable/datatables.min.js') }}"></script>
    <!-- END: Page Vendor JS-->


    <!-- BEGIN: Page JS-->
    <script src="{{ asset('app-assets/js/scripts/tables/datatables/datatable-basic.js') }}"></script>
    <!-- END: Page JS-->




    <script>
        //set same value name and shortname in form
        $("#microbundle_fireprotectiondevice_name").on("click", function () {
            $("#microbundle_fireprotectiondevice_shortname").val($(this).val());
        });

        $("#microbundle_fireprotectiondevice_shortname").on("click", function () {
            $("#microbundle_fireprotectiondevice_name").val($(this).val());
        });

        $("#microbundle_fireprotectiondevice_edit_name").on("click", function () {
            $("#microbundle_fireprotectiondevice_edit_shortname").val($(this).val());
        });

        $("#microbundle_fireprotectiondevice_edit_shortname").on("click", function () {
            $("#microbundle_fireprotectiondevice_edit_name").val($(this).val());
        });

        //fill edit form for FireProtectionDevice
        $("a[data-target='#EditContactModal']").on("click", function () {

            var id = $(this).attr('id').substr(5);
            $('#microbundle_fireprotectiondevice_edit_id').val(id);

            var $name = $("#name-" + id).text();
            var $namevalue = $("option:contains('" + $name + "')").val();
            $('#microbundle_fireprotectiondevice_edit_name').val($namevalue);

            var $shortname = $("#shortname-" + id).text();
            var $shortnamevalue = $("option:contains('" + $shortname + "')").val();
            $('#microbundle_fireprotectiondevice_edit_shortname').val($shortnamevalue);

            var $loop = $("#loop-" + id).text();
            $('#microbundle_fireprotectiondevice_edit_loopNo').val($loop);

            var $number = $("#number-" + id).text();
            $('#microbundle_fireprotectiondevice_edit_number').val($number);

        });

        $('#users-contacts').DataTable({
            "language": {
                "lengthMenu": "Pokaż _MENU_ wierszy na stronie",
                "zeroRecords": "Niestety brak wyników",
                "info": "Stron _PAGE_ z _PAGES_",
                "infoEmpty": "Brak wierszy",
                "infoFiltered": "(znaleziono z _MAX_ wszystkich wierszy)"
            },
            "paging": false,
        });
    </script>
{% endblock %}