{% extends 'base.html.twig' %}

{% block title %}Pieczątki{% endblock %}

{% block body %}
    <!-- Content header -->
    <div class="content-header row">
        <div class="content-header-left col-md-6 col-12">
            <h3 class="content-header-title mb-0">Lista pieczatek</h3>
            <div class="row breadcrumbs-top">
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('micro_default_index') }}">Główna</a>
                        </li>

                        <li class="breadcrumb-item active">Pieczątki
                        </li>

                    </ol>
                </div>
            </div>
        </div>
        <div class="content-header-left col-md-6 col-12">
            <div class="btn-group float-md-right" role="group" aria-label="Button group with nested dropdown">
                <div class="btn-group" role="group">
                    <a class="btn btn-outline-info round" href="{{ path('stamp_new', {'type' : 'main'}) }}"><i
                                class="la la-user-plus"></i> Dodaj pieczątkę główną</a>
                    <a class="btn btn-outline-info round" href="{{ path('stamp_new', {'type' : 'inspector'}) }}"><i
                                class="la la-user-plus"></i> Dodaj pieczątkę inspektora</a>

                </div>
            </div>
        </div>
    </div>
    <!-- Content header -->


    <section class="row all-contacts">
        <div class="col-12">
            <div class="card">
                <div class="card-head">
                    <div class="card-header">
                        <h4 class="card-title">Pieczątki</h4>
                        <div class="heading-elements mt-0">
                        </div>
                    </div>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <!-- Task List table -->
                        <div class="table-responsive">
                            <table id="users-contacts"
                                   class="table table-white-space table-bordered row-grouping display no-wrap icheck table-middle text-center">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Nazwa</th>
                                    <th>Typ</th>
                                    <th>Pieczątka</th>
                                    <th>Akcje</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for stamp in stamps %}
                                    <tr>
                                        <td>
                                            {{ stamp.id }}
                                        </td>
                                        <td>
                                            {{ stamp.name }}
                                        </td>
                                        <td>
                                            {% if stamp.main %}
                                                Pieczątka główna
                                            {% else %}
                                                {% if stamp.inspector is not null %}
                                                    {{ stamp.inspector.name }} {{ stamp.inspector.surname }}
                                                {% else %}
                                                    Nie wybrano typu
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                        <td class="text-center">
                                            <img src="{{ asset('uploads/images/' ~ stamp.image) }}"
                                                 style="width:200px; height:80px"
                                                 class="img-fluid"
                                                 alt="Pieczątka firmy">
                                        </td>

                                        <td>
                                            <a href="{{ path('stamp_edit', { 'id': stamp.id }) }}"
                                               class="primary edit mr-1"><i class="la la-pencil"></i></a>
                                            <a data-href="{{ path('stamp_delete', { 'id': stamp.id }) }}"
                                               class="danger delete-stamp-btn mr-1"><i class="la la-trash-o"></i></a>

                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>Id</th>
                                    <th>Nazwa</th>
                                    <th>Typ</th>
                                    <th>Pieczątka</th>
                                    <th>Akcje</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block scripts %}

    <script src="{{ asset('app-assets/vendors/js/tables/datatable/datatables.min.js') }}"></script>
    <script src="{{ asset('app-assets/js/scripts/tables/datatables/datatable-basic.js') }}"></script>
    <script src="{{ asset('app-assets/vendors/js/extensions/sweetalert.min.js') }}"></script>

    <script src="{{ asset('assets/js/stamp.js') }}"></script>



{% endblock %}


