{% extends 'base.html.twig' %}

{% block title %}Lista produktów{% endblock %}

{% block body %}
    <!-- Content header -->
    <div class="content-header row">
        <div class="content-header-left col-md-6 col-12">
            <h3 class="content-header-title mb-0">Lista produktów</h3>
            <div class="row breadcrumbs-top">
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('micro_default_index') }}">Główna</a>
                        </li>

                        <li class="breadcrumb-item active">Lista produktów w kategorii
                        </li>

                    </ol>
                </div>
            </div>
        </div>
        {#<div class="content-header-left col-md-6 col-12">#}
        {#<div class="btn-group float-md-right" role="group" aria-label="Button group with nested dropdown">#}
        {#<div class="btn-group" role="group">#}
        {#<a class="btn btn-outline-info" href="{{ path('product_new') }}"><i#}
        {#class="la la-plus"></i> Dodaj nowy</a>#}

        {#</div>#}
        {#</div>#}
        {#</div>#}
    </div>
    <!-- Content header -->


    <section class="row all-contacts">
        <div class="col-10 col-sm-9">
            <div class="card">
                <div class="card-head">
                    <div class="card-header">
                        <h4 class="card-title">Lista produktów w kategorii {{ category.fullPath }}</h4>
                        <div class="heading-elements mt-0">
                        </div>
                    </div>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <!-- Task List table -->
                        {#<button type="button" class="btn btn-sm btn-danger delete-all mb-1">Delete All</button>#}
                        <div class="table-responsive">
                            <table id="product-table"
                                   class="table table-borderless table-striped mb-0 row-grouping display no-wrap icheck table-middle text-center">
                                <thead>
                                <tr>
                                    <th>Zdjęcie</th>
                                    <th>Nazwa</th>
                                    <th>Cena netto</th>
                                    <th>Akcje</th>
                                </tr>
                                </thead>
                                <tbody id="product-table-body">
                                {% for product in products %}
                                    <tr data-product-id="{{ product.id }}">
                                        <td>
                                            <div class="media">
                                                <div class="media-left pr-1"><span
                                                            class="avatar avatar-sm avatar-online rounded-circle"><img
                                                                src="../../../app-assets/images/portrait/small/avatar-s-2.png"
                                                                alt="avatar"><i></i></span></div>

                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <a href="#" class="product-modal-trigger"
                                               data-id="{{ product.id }}">{{ product.name }} ({{ product.id }})</a><br>
                                            <p href="#" class="product-modal-trigger" data-id="{{ product.id }}">
                                                {% for param in product.productParameters %}
                                                    {{ param.value }}
                                                {% endfor %}
                                            </p>
                                        </td>
                                        <td>

                                            {{ product.price|price }}
                                        </td>

                                        <td class="mx-auto">
                                            <div class="input-group group-fixed-width-120 mx-auto" role="group"
                                                 aria-label="Button group with nested dropdown">
                                                <input class="form-control quantity-input" type="text" placeholder="Ilość"
                                                       name="quantity"
                                                       autocomplete="off">
                                                <button type="submit" class="quantity-input-btn form-control btn btn-outline-info "
                                                        href="#"><i class="ft-shopping-cart"></i></button>

                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-2 col-sm-3">
            <div class="card">
                {#<div class="card-head">#}
                    {#<div class="card-header mx-auto">#}
                        {#<span class="font-large-1 card-title">Koszyk</span><i class="la la-shopping-cart font-large-2"></i>#}
                    {#</div>#}
                {#</div>#}
                <div class="card-header text-center">
                    <div class="d-flex align-items-center">
                        <span class="mx-auto w-100 font-large-1">Koszyk</span>
                        <i class="la la-shopping-cart font-large-2 ml-auto"></i>
                    </div>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <table id="cart-table" class="table">
                            <thead></thead>
                            <tbody id="cart-table-body">
                            {% for position in cart.offPositions %}
                                <tr data-product-id="{% if position.product %}{{ position.product.id }}{% else %}0{% endif %}"
                                    data-amount="{{ position.amount }}">
                                    <td>{{ position.name }}<br>
                                        <span class="red">
                                            <span class="cart-pos-amount">{{ position.amount }}</span>
                                            <span> X </span>
                                        <span class="cart-pos-price" >{{ position.price|priceLow }}</span>
                                        </span>
                                    </td>
                                    <td><a class="text-danger delete-cart-position"><i class="la la-close"></i></a></td>

                                </tr>
                            {% endfor %}
                            </tbody>

                        </table>
                        <h4 class="float-right red" id="total-cart"></h4>
                        <br>
                        <a href="{{ path('cart_show') }}" class="btn btn-sm btn-outline-amber">Przejdź do koszyka</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!------------------------ Modal section -------------->
    {% include 'product/index_cat_modals.html.twig' %}


{% endblock %}

{% block scripts %}

    <!-- BEGIN: Vendor JS-->
    <script src="{{ asset('app-assets/vendors/js/vendors.min.js') }}"></script>
    <script src="{{ asset('app-assets/vendors/js/tables/datatable/datatables.min.js') }}"></script>
    <!-- END: Vendor JS-->
    <script src="{{ asset('app-assets/js/scripts/tables/datatables/datatable-basic.js') }}"></script>
    <script src="{{ asset('assets/js/index-cat.js') }}"></script>


{% endblock %}

