<!-- BEGIN: Content-->

<div class="content-body">
    <div class="product-detail">
        <div class="card">
            <div class="card-body">
                <div class="card-content">
                    <div class="row">
                        <div class="col-12">
                            <div class="input-group group-fixed-width-120 float-md-right" role="group"
                                 aria-label="Button group with nested dropdown">
                                <input id="quantity-input-modal" class="form-control" type="number" placeholder="Ilość" name="quantity"
                                       autocomplete="off" value="{{ cartAmount }}">
                                <button id="quantity-submit-modal-btn" type="button" class="form-control btn btn-outline-info "
                                        href="" data-product-id="{{ product.id }}"><i class="ft-shopping-cart"></i></button>

                            </div>
                            {#<div class="input-group col-3 float-md-right">#}
                            {#<input class="form-control" type="text" placeholder="Ilość" name="quantity"#}
                            {#autocomplete="off">#}
                            {#<span class="input-group-btn">#}
                            {#<button class="btn btn-default addToOrder" type="submit">#}
                            {#<i class="la la-cart-arrow-down"></i></button>#}
                            {#</span>#}
                            {#</div>#}
                            <h2 class="product-title float-left">{{ product.name }}</h2><br><br>
                            <h4 class=>{{ product.category.fullPath }}</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <div class="product-img d-flex align-items-center">
                                {% if product.image %}
                                <a href="{{ asset('uploads/images/' ~ product.image) }}">
                                    <img
                                            src="{{ asset('uploads/images/' ~ product.image) }}"
                                            style="width:600px; "
                                            class="img-fluid"
                                            alt="Pieczątka firmy">

                                </a>
                                {%  else %}
                                <img id="preview" width="600" src="https://via.placeholder.com/600x600">
                                        {% endif %}
                            </div>
                            <div>
                                <table class="table table-borderless table-striped" >
                                    <tbody>
                                    <tr>
                                        <th>
                                            Produkt Id
                                        </th>
                                        <td>
                                            {{ product.id }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Model
                                        </th>
                                        <td>
                                            {{ product.model }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Producent
                                        </th>
                                        <td>
                                            {{ product.producent }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Moja Cena
                                        </th>
                                        <td>
                                            <b>{{ product.price|price }}</b>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>

                        </div>


                        <div class="col-7">
                            <table class="table table-borderless table-striped">
                                <tbody>
                                {% for parameter in product.productParameters %}
                                    <tr>
                                        <th>
                                            {{ parameter.name }}
                                        </th>
                                        <td>
                                            {{ parameter.value }}
                                        </td>
                                    </tr>

                                {% endfor %}
                                </tbody>
                            </table>


                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        {#<div class="container">#}
                        <a href="#description" class="btn btn-outline-info btn-block" data-toggle="collapse"
                        >Opis</a><br>
                        <div id="description" class="collapse">{{ product.description|raw }}</div>
                        {#</div>#}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- END: Content-->
