{% extends 'base.html.twig' %}

{% block title %}Dodaj produkt{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/product-new-edit.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('app-assets/vendors/css/editors/summernote.css') }}">

{% endblock %}

{% block body %}
    <!-- Content header -->
    <div class="content-header row">
        <div class="content-header-left col-md-6 col-12">
            <h3 class="content-header-title mb-0">Produkt</h3>
            <div class="row breadcrumbs-top">
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('micro_default_index') }}">Główna</a>
                        </li>
                        <li class="breadcrumb-item"><a href="{{ path('product_index') }}">Lista produktów</a>
                        </li>

                        <li class="breadcrumb-item active">Dodaj produkt
                        </li>

                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Content header -->

    <!-- Basic form layout section start -->
    <section id="horizontal-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title" id="horz-layout-basic">Formularz tworzenia nowego produktu</h4>
                        <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                    </div>
                    <div class="card-content collpase show">
                        <div class="card-body">

                            {{ form_start(form, { 'attr': {'class': 'form form-horizontal inputmask'} }) }}


                            <div class="form-body">
                                <h4 class="form-section"><i class="ft-user"></i> Produkt</h4>
                                <div class="form-group row">
                                    {{ form_label(form.name, 'Nazwa produktu (*)', { 'label_attr': {'class': 'col-md-3 label-control'} }) }}
                                    <div class="col-md-9 mx-auto">
                                        {{ form_widget(form.name, { 'attr': {'class': 'form-control', 'placeholder': 'Wprowadź nazwę'} }) }}
                                        <div class="form-error">
                                            {{ form_errors(form.name) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    {{ form_label(form.model, 'Model', { 'label_attr': {'class': 'col-md-3 label-control'} }) }}
                                    <div class="col-md-9 mx-auto">
                                        {{ form_widget(form.model, { 'attr': {'class': 'form-control', 'placeholder': 'Wprowadź model'} }) }}
                                        <div class="form-error">
                                            {{ form_errors(form.model) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    {{ form_label(form.producent, 'Producent', { 'label_attr': {'class': 'col-md-3 label-control'} }) }}
                                    <div class="col-md-9 mx-auto">
                                        {{ form_widget(form.producent, { 'attr': {'class': 'form-control', 'placeholder': 'Wprowadź producenta'} }) }}
                                        <div class="form-error">
                                            {{ form_errors(form.producent) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    {{ form_label(form.price, 'Cena  (*)', { 'label_attr': {'class': 'col-md-3 label-control'} }) }}
                                    <div class="col-md-9 mx-auto">
                                        {{ form_widget(form.price, { 'attr': {'class': 'form-control', 'placeholder': '0.00'} }) }}
                                        <div class="form-error">
                                            {{ form_errors(form.price) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row" id="wrap">
                                    {{ form_label(form.category, 'Kategoria (*)', { 'label_attr': {'class': 'col-md-3 label-control'} }) }}
                                    <div class="col-md-9 mx-auto " style="display:none">
                                        {{ form_widget(form.category, { 'attr': {'class': 'form-control', 'placeholder': 'Wprowadź skrót'} }) }}
                                        <div class="form-error">
                                            {{ form_errors(form.category) }}
                                        </div>
                                    </div>
                                    <div id="temp-input" class="col-md-9 mx-auto ">
                                        <input class="form-control " id="input-modal-trigger" readonly
                                               value="{% if product.category %}{{ product.category.fullPath }}{% else %}Brak{% endif %}">
                                        </input>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    {{ form_label(form.productParameters, 'Lista parametrów', { 'label_attr': {'class': 'col-md-3 label-control'} }) }}
                                    <div class="col-md-9 mx-auto">
                                        <ul class="parameters"
                                            data-prototype="{{ form_widget(form.productParameters.vars.prototype)|e('html_attr') }}">
                                             {#iterate over each existing tag and render its only field: value#}
                                            {% for productParameters in form.productParameters %}
                                                <li>{{ form_widget(productParameters.name) }}{{ form_widget(productParameters.value) }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    {{ form_label(form.image, 'Zdjęcie produktu (JPG lub PNG) (*)', { 'label_attr': {'class': 'col-md-3 label-control'} }) }}
                                    <div class="col-md-6 mx-auto">
                                        <div class="custom-file mb-3">
                                            {{ form_widget(form.image, { 'attr': {'class': 'custom-file-input'} }) }}
                                            <label class="custom-file-label" for="microbundle_product_image">Wybierz
                                                plik</label>
                                            {{ form_errors(form.image, {'attr': {'class': 'text-danger'} }) }}
                                        </div>

                                    </div>

                                </div>
                                <div class="form-group row">
                                    <div class="col-md-3 label-control">Podgląd zdjęcia i miniaturki</div>
                                    <div class="col-md-6 mx-auto">

                                        <a href="https://placeholder.com">
                                            <img id="preview" width="400" src="https://via.placeholder.com/400X400">
                                            <img id="preview-min" width="70" src="https://via.placeholder.com/70X70">
                                        </a>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    {{ form_label(form.description, 'Opis produktu', { 'label_attr': {'class': 'col-md-3 label-control'} }) }}
                                    <div class="col-md-9 mx-auto">
                                        {{ form_widget(form.description, { 'attr': {'class': 'form-control summernote', 'placeholder': 'Wprowadź nazwę'} }) }}

                                    </div>
                                </div>

                                <div class="form-actions">
                                    <button type="button" onClick="javascript:history.go(-1)"
                                            class="btn btn-warning mr-1">
                                        <i class="ft-x"></i> Anuluj
                                    </button>
                                    <button type="submit" class="btn btn-primary">
                                        <i class="la la-check-square-o"></i> Zapisz
                                    </button>
                                </div>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Modal Category -->
    <!-- Modal -->
    <div id="category-modal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <div class="container-fluid">
                        <div class="row">
                            <div id="main-header-modal">
                                <h4 class="modal-title">Wybierz kategorię </h4>
                            </div>
                            <div class="vl"></div>
                            <div id="mid-header-modal">
                                <h4 id="header-name-level-1" class="modal-title">{{ categories|first.name }}</h4>
                            </div><div class="vl"></div>
                            <div id="sub-header-modal">
                                <h4 id="header-name-level-2" class="modal-title"></h4>
                            </div>
                            <div>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">

                            <div id="main-category-list">
                                <ol id="ol-level-0" data-level="0">
                                    {% for parentCategory in categories %}
                                        {% if parentCategory.children is not empty %}
                                            {% set last = "false" %}
                                            {% set sign = ">" %}
                                        {% else %}
                                            {% set last = "true" %}
                                            {% set sign = "" %}
                                        {% endif %}
                                        {% if parentCategory.parent is null %}
                                            <li class="category-li"><a class="category-name info"
                                                                       data-id="{{ parentCategory.id }}"
                                                                       data-parent-id="false"
                                                                       data-last={{ last }}
                                                >{{ parentCategory.name }} {{ sign }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ol>
                            </div>
                            <div class="vl"></div>
                            <div id="mid-category-list">
                                <ol id="ol-level-1" data-level="1">

                                </ol>
                            </div>
                            <div class="vl"></div>
                            <div id="sub-category-list">
                                <ol id="ol-level-2" data-level="2">

                                </ol>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button id="reset-button" type="button" class="btn btn-outline-warning"><i
                                class="la la-refresh"></i>
                        Zresetuj
                    </button>
                    <button id="choose-button" type="button" class="btn btn-outline-info"><i class="la la-check"></i>
                        Wybierz
                    </button>
                </div>
            </div>

        </div>
    </div>
    <!-- Modal Category -->

{% endblock %}

{% block scripts %}
    <!-- BEGIN: My JS-->
    <script src="{{ asset('assets/js/product-new-edit.js') }}"></script>
    <script src="{{ asset('app-assets/vendors/js/editors/summernote/summernote.js') }}"></script>
    <script>

        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
            loadFile(event);
        });

        var loadFile = function (event) {
            var preview = document.getElementById('preview');
            var previewMin = document.getElementById('preview-min');
            preview.src = URL.createObjectURL(event.target.files[0]);
            previewMin.src = URL.createObjectURL(event.target.files[0]);
        };
    </script>
    app-assets/vendors/js/editors/summernote/summernote.js
    <!-- END: My JS-->
{% endblock %}
