{% extends 'base.html.twig' %}

{% block title %}Lista ofert{% endblock %}

{% block body %}
    <!-- Content header -->
    <div class="content-header row">
        <div class="content-header-left col-md-6 col-12">
            <h3 class="content-header-title mb-0">Lista ofert</h3>
            <div class="row breadcrumbs-top">
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('micro_default_index') }}">Główna</a>
                        </li>

                        <li class="breadcrumb-item active">Lista ofert
                        </li>

                    </ol>
                </div>
            </div>
        </div>
        <div class="content-header-left col-md-6 col-12">
            <div class="btn-group float-md-right" role="group" aria-label="Button group with nested dropdown">
                <div class="btn-group" role="group">
                    <a class="btn btn-outline-info" href="{{ path('product_new') }}"><i
                                class="la la-plus"></i> Dodaj nową</a>

                </div>
            </div>
        </div>
    </div>
    <!-- Content header -->


    <section class="row all-contacts">
        <div class="col-12">
            <div class="card">
                <div class="card-head">
                    <div class="card-header">
                        <h4 class="card-title">Lista ofert</h4>
                        <div class="heading-elements mt-0">
                        </div>
                    </div>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <!-- Task List table -->
                        {#<button type="button" class="btn btn-sm btn-danger delete-all mb-1">Delete All</button>#}
                        <div class="table-responsive">
                            <table id="table-clients"
                                   class="table table-stripped mb-0 row-grouping display no-wrap icheck table-middle text-center">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Nazwa</th>
                                    <th>Klient</th>
                                    <th>Data dodania</th>
                                    <th>Wygasa</th>
                                    <th>Status</th>
                                    <th>Wartość</th>
                                    <th>Akcje</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for offert in offerts %}
                                    {% set bgColor = "" %}
                                    {% if offert.status == "Aktywna" %}
                                        {% set bgColor = "bg-light-green" %}
                                    {% elseif offert.status == "Wygasa" %}
                                        {% set bgColor = "bg-light-orange" %}
                                    {% elseif offert.status =="Zamknięte" %}
                                        {% set bgColor = "bg-light-red" %}
                                    {% endif %}

                                    <tr class="{{ bgColor }}">
                                        <td><a href="{{ path('offert_show', { 'id': offert.id }) }}">{{ offert.id }}</a>
                                        </td>
                                        <td>{{ offert.name }}</td>
                                        <td>{% if offert.clients is not empty %}{{ offert.clients|first.name }}{% endif %}</td>
                                        <td>{% if offert.addDate %}{{ offert.addDate|date('Y-m-d') }}{% endif %}</td>
                                        <td>{% if offert.expireDate %}{{ offert.expireDate|date('Y-m-d') }}{% endif %}</td>
                                        <td>{{ offert.status }}</td>
                                        <td>{{ offert.totalValue|price }}</td>
                                        <td>
                                            <a href="{{ path('offert_pdf', { 'offertId': offert.id }) }}"
                                               class="primary pdf mr-1"><i class="la la-file-pdf-o"></i></a>
                                            <a class="danger delete mr-1"><i class="la la-trash-o"></i></a>
                                            <span class="dropdown">
                                                                <a id="btnSearchDrop2" data-toggle="dropdown"
                                                                   aria-haspopup="true" aria-expanded="true"
                                                                   class="dropdown-toggle dropdown-menu-right"><i
                                                                            class="la la-ellipsis-v"></i></a>
                                                                <span aria-labelledby="btnSearchDrop2"
                                                                      class="dropdown-menu mt-1 dropdown-menu-right">
                                                                    <a href="{{ path('offert_show', { 'id': offert.id }) }}"
                                                                       class="dropdown-item"><i
                                                                                class="ft-edit-2"></i>
                                                                        Edytuj</a>
                                                                    <a href="#" class="dropdown-item delete"><i
                                                                                class="ft-trash-2"></i> Usuń</a>

                                                                </span>
                                                            </span>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block scripts %}
    <script src="{{ asset('app-assets/vendors/js/tables/datatable/datatables.min.js') }}"></script>

    <script src="{{ asset('app-assets/js/scripts/tables/datatables/datatable-basic.js') }}"></script>

    <script>
        $('#table-clients').DataTable({
            "language": {
                "lengthMenu": "Pokaż _MENU_ wierszy na stronie",
                "zeroRecords": "Niestety brak wyników",
                "info": "Stron _PAGE_ z _PAGES_",
                "infoEmpty": "Brak wierszy",
                "infoFiltered": "(znaleziono z _MAX_ wszystkich wierszy)",
                "search": "Szukaj"
            },
            "paging": false,
        });
    </script>

{% endblock %}

