{% extends 'base.html.twig' %}

{% block title %}Lista klientów{% endblock %}

{% block body %}

    <!-- Default ordering table -->
    <section id="ordering">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Lista klientow</h4>
                        <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                <li><a data-action="close"><i class="ft-x"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard">
                            <p class="card-text"><a href="{{ path('client_new') }}">Create a new client</a></p>
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered default-ordering">
                                    <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Nazwa</th>
                                        <th>Skrót</th>
                                        <th>Data dodania</th>
                                        <th>Budynki</th>
                                        <th>Akcje</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for client in clients %}
                                        <tr onclick='location.href = "{{ path('client_show', { 'id': client.id }) }}";'>
                                            <td>
                                                <a href="{{ path('client_show', { 'id': client.id }) }}">{{ client.id }}</a>
                                            </td>
                                            <td>{{ client.name }}</td>
                                            <td>{{ client.shortname }}</td>
                                            <td>{% if client.addDate %}{{ client.addDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                                            <td>{{ client.buidings }}</td>
                                            <td>
                                                <ul>

                                                    <a href="{{ path('client_show', { 'id': client.id }) }}"><i
                                                                class="la la-eye "></i></a>

                                                    <a href="{{ path('client_edit', { 'id': client.id }) }}"><i
                                                                class="la la-pencil "></i></a>

                                                </ul>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th>Id</th>
                                        <th>Nazwa</th>
                                        <th>Skrót</th>
                                        <th>Data dodania</th>
                                        <th>Budynki</th>
                                        <th>Akcje</th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/ Default ordering table -->

{% endblock %}

{% block scripts %}
    <script src="{{ asset('app-assets/vendors/js/tables/datatable/datatables.min.js') }}"></script>

    <script src="{{ asset('app-assets/js/scripts/tables/datatables/datatable-basic.js') }}"></script>

{% endblock %}
