{% extends 'base.html.twig' %}

{% block title %}Lista klientów{% endblock %}

{% block body %}
    <!-- Content header -->
    <div class="content-header row">
        <div class="content-header-left col-md-6 col-12">
            <h3 class="content-header-title mb-0">Baza klientów</h3>
            <div class="row breadcrumbs-top">
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('micro_default_index') }}">Główna</a>
                        </li>

                        <li class="breadcrumb-item active">Lista klientów
                        </li>

                    </ol>
                </div>
            </div>
        </div>
        <div class="content-header-left col-md-6 col-12">
            <div class="btn-group float-md-right" role="group" aria-label="Button group with nested dropdown">
                <div class="btn-group" role="group">
                    <a class="btn btn-outline-info round" href="{{ path('client_new') }}"><i
                                class="la la-user-plus"></i> Dodaj nowego</a>

                    <button class="btn btn-outline-info round dropdown-toggle dropdown-menu-right" id="btnGroupDrop1"
                            type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                                class="icon-cog3 icon-left"></i> Ustawienia
                    </button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1"><a class="dropdown-item"
                                                                                  href="card-bootstrap.html">Bootstrap
                            Cards</a><a class="dropdown-item" href="component-buttons-extended.html">Buttons
                            Extended</a></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content header -->


    <section class="row all-contacts">
        <div class="col-12">
            <div class="card">
                <div class="card-head">
                    <div class="card-header">
                        <h4 class="card-title">Lista klientów</h4>
                        <div class="heading-elements mt-0">
                            <button class="btn btn-primary btn-sm " data-toggle="modal" data-target="#AddContactModal">
                                <i class="d-md-none d-block ft-plus white"></i>
                                <span class="d-md-block d-none">Add Contacts</span></button>
                            <div class="modal fade" id="AddContactModal" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalLabel1" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <section class="contact-form">
                                            <form id="form-add-contact" class="contact-input">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel1">Add New Contact</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <fieldset class="form-group col-12">
                                                        <input type="text" id="contact-name"
                                                               class="contact-name form-control" placeholder="Name">
                                                    </fieldset>
                                                    <fieldset class="form-group col-12">
                                                        <input type="text" id="contact-email"
                                                               class="contact-email form-control" placeholder="Email">
                                                    </fieldset>
                                                    <fieldset class="form-group col-12">
                                                        <input type="text" id="contact-phone"
                                                               class="contact-phone form-control"
                                                               placeholder="Phone Number">
                                                    </fieldset>
                                                    <fieldset class="form-group col-12">
                                                        <input type="checkbox" id="favorite"
                                                               class="contact-fav input-chk"> Favorite
                                                    </fieldset>
                                                    <fieldset class="form-group col-12">
                                                        <input type="file" class="form-control-file" id="user-image">
                                                    </fieldset>
                                                </div>
                                                <div class="modal-footer">
                                                    <fieldset class="form-group position-relative has-icon-left mb-0">
                                                        <button type="button" id="add-contact-item"
                                                                class="btn btn-info add-contact-item"
                                                                data-dismiss="modal"><i
                                                                    class="la la-paper-plane-o d-block d-lg-none"></i>
                                                            <span class="d-none d-lg-block">Add New</span></button>
                                                    </fieldset>
                                                </div>
                                            </form>
                                        </section>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" id="EditContactModal" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <section class="contact-form">
                                            <form id="form-edit-contact" class="contact-input">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Edit Contact</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <fieldset class="form-group col-12">
                                                        <input type="text" id="name" class="name form-control"
                                                               placeholder="Name">
                                                    </fieldset>
                                                    <fieldset class="form-group col-12">
                                                        <input type="text" id="email" class="email form-control"
                                                               placeholder="Email">
                                                    </fieldset>
                                                    <fieldset class="form-group col-12">
                                                        <input type="text" id="phone" class="phone form-control"
                                                               placeholder="Phone Number">
                                                    </fieldset>
                                                    <span id="fav" class="d-none"></span>
                                                </div>
                                                <div class="modal-footer">
                                                    <fieldset class="form-group position-relative has-icon-left mb-0">
                                                        <button type="button" id="edit-contact-item"
                                                                class="btn btn-info edit-contact-item"
                                                                data-dismiss="modal"><i
                                                                    class="la la-paper-plane-o d-lg-none"></i> <span
                                                                    class="d-none d-lg-block">Edit</span></button>
                                                    </fieldset>
                                                </div>
                                            </form>
                                        </section>
                                    </div>
                                </div>
                            </div>
                            <span class="dropdown">
                                                <button id="btnSearchDrop1" type="button" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="true"
                                                        class="btn btn-warning dropdown-toggle dropdown-menu-right btn-sm"><i
                                                            class="ft-download-cloud white"></i></button>
                                                <span aria-labelledby="btnSearchDrop1"
                                                      class="dropdown-menu mt-1 dropdown-menu-right">
                                                    <a href="#" class="dropdown-item"><i
                                                                class="ft-upload"></i> Import</a>
                                                    <a href="#" class="dropdown-item"><i class="ft-download"></i> Export</a>
                                                    <a href="#" class="dropdown-item"><i class="ft-shuffle"></i> Find Duplicate</a>
                                                </span>
                                            </span>
                            <button class="btn btn-default btn-sm"><i class="ft-settings white"></i></button>
                        </div>
                    </div>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <!-- Task List table -->
                        <button type="button" class="btn btn-sm btn-danger delete-all mb-1">Delete All</button>
                        <div class="table-responsive">
                            <table id="users-contacts"
                                   class="table table-white-space table-bordered row-grouping display no-wrap icheck table-middle text-center">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Nazwa</th>
                                    <th>Skrót</th>
                                    <th>Email</th>
                                    <th>Telefon</th>
                                    <th>Akcje</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for client in clients %}
                                    <tr >
                                        <td><input type="checkbox" class="input-chk check"></td>
                                        <td onclick='location.href = "{{ path('client_show', { 'id': client.id }) }}";'>
                                            <div class="media">
                                                <div class="media-left pr-1"><span
                                                            class="avatar avatar-sm avatar-online rounded-circle"><img
                                                                src="../../../app-assets/images/portrait/small/avatar-s-2.png"
                                                                alt="avatar"><i></i></span></div>
                                                <div class="media-body media-middle">
                                                    <a class="media-heading name">{{ client.name }}</a>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-center" onclick='location.href = "{{ path('client_show', { 'id': client.id }) }}";'>
                                            <div>{{ client.shortname }}</div>
                                        </td>
                                        <td class="text-center">
                                            <a class="email" href="mailto:email@example.com">alice@example.com</a>
                                        </td>
                                        <td class="phone" onclick='location.href = "{{ path('client_show', { 'id': client.id }) }}";'>+658-254-256</td>

                                        <td>
                                            <a data-toggle="modal" data-target="#EditContactModal"
                                               class="primary edit mr-1"><i class="la la-pencil"></i></a>
                                            <a class="danger delete mr-1"><i class="la la-trash-o"></i></a>
                                            <span class="dropdown">
                                                                <a id="btnSearchDrop2" data-toggle="dropdown"
                                                                   aria-haspopup="true" aria-expanded="true"
                                                                   class="dropdown-toggle dropdown-menu-right"><i
                                                                            class="la la-ellipsis-v"></i></a>
                                                                <span aria-labelledby="btnSearchDrop2"
                                                                      class="dropdown-menu mt-1 dropdown-menu-right">
                                                                    <a href ="{{ path('client_edit', { 'id': client.id }) }}" class="dropdown-item"><i
                                                                                class="ft-edit-2"></i>
                                                                        Edytuj</a>
                                                                    <a href="#" class="dropdown-item delete"><i
                                                                                class="ft-trash-2"></i> Usuń</a>
                                                                    <a href="{{ path('client_new') }}" class="dropdown-item"><i
                                                                                class="ft-plus-circle warning"></i> Dodaj</a>

                                                                </span>
                                                            </span>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>Id</th>
                                    <th>Nazwa</th>
                                    <th>Skrót</th>
                                    <th>Email</th>
                                    <th>Telefon</th>
                                    <th>Akcje</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block scripts %}
    <script src="{{ asset('app-assets/vendors/js/tables/datatable/datatables.min.js') }}"></script>

    <script src="{{ asset('app-assets/js/scripts/tables/datatables/datatable-basic.js') }}"></script>

{% endblock %}
