{% extends 'base.html.twig' %}

{% block title %}Klient{% endblock %}

{% block body %}
    <!-- Content header -->
    <div class="content-header row">
        <div class="content-header-left col-md-6 col-12">
            <h3 class="content-header-title mb-0">Baza klientów</h3>
            <div class="row breadcrumbs-top">
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a
                                    href="{{ path('micro_default_index') }}">Główna</a>
                        </li>

                        <li class="breadcrumb-item"><a href="{{ path('client_index') }}">Lista
                                klientów</a>
                        </li>

                        <li class="breadcrumb-item active">Klient {{ client.name }}
                        </li>

                    </ol>
                </div>
            </div>
        </div>
        <div class="content-header-left col-md-6 col-12">
            <div class="btn-group float-md-right" role="group"
                 aria-label="Button group with nested dropdown">
                <div class="btn-group" role="group">
                    <a class="btn btn-outline-info " href="{{ path('client_index') }}"><i
                                class="la la-backward"></i> Wróć do listy klientów</a>
                    <a class="btn btn-outline-info " href="{{ path('client_edit', { 'id' : client.id }) }}"><i
                                class="la la-pencil"></i> Edytuj klienta</a>

                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1"><a class="dropdown-item"
                                                                                  href="card-bootstrap.html">Bootstrap
                            Cards</a><a class="dropdown-item" href="component-buttons-extended.html">Buttons
                            Extended</a></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content header -->
    {% set menu = app.session.get('menu') %}



    <!-- Basic form layout section start -->
    <section id="horizontal-form-layouts">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">


                            <h4><i class="ft-user"></i> Dane Klienta</h4>
                            <hr>
                            <table class="table table-borderless table-column">
                                <tr>
                                    <th>Nazwa firmy</th>
                                    <td>{{ client.name }}</td>
                                </tr>
                                <tr>
                                    <th>Skrót:</th>
                                    <td>{{ client.shortname }}</td>
                                </tr>
                                <tr>
                                    <th>Numer telefonu:</th>
                                    <td>{{ client.phoneNumber }}</td>
                                </tr>
                                <tr>
                                    <th>Email:</th>
                                    <td>{{ client.email }}</td>
                                </tr>
                                <tr>
                                    <th>Data dodania:</th>
                                    <td>{% if client.addDate %}{{ client.addDate|date('Y-m-d') }}{% endif %}</td>
                                </tr>
                            </table>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">


                            <h4><i class="ft-map-pin"></i> Dane adresowe</h4>
                            <hr>
                            <table class="table table-borderless table-column">
                                <tr>
                                    <th>Ulica</th>
                                    <td>{{ client.street }} {{ client.houseNo }}{% if client.flatNo %} / {{ client.flatNo }} {% endif %}</td>
                                </tr>
                                <tr>
                                    <th>Miasto</th>
                                    <td>{{ client.city }} {{ client.postalCode }}</td>
                                </tr>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    {% if menu=="document" %}
        <!-- Clients buildings section-->

        <section class="row all-contacts">
            <div class="col-12">
                <div class="card">
                    <div class="card-head">
                        <div class="card-header">
                            <h4 class="card-title">Lista budynków klienta</h4>
                            <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li><a class="btn btn-sm btn-danger box-shadow-2 btn-min-width pull-right"
                                           href="{{ path('building_new', { 'client': client.id }) }}">Dodaj budynek</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <!-- Task List table -->
                            {#<button type="button" class="btn btn-sm btn-danger delete-all mb-1">Delete All</button>#}
                            <div class="table-responsive">
                                <table id="users-contacts"
                                       class="table table-white-space table-bordered row-grouping display no-wrap icheck table-middle text-center">
                                    <thead>
                                    <tr>
                                        <th>Pokaż</th>
                                        <th>Nazwa</th>
                                        <th>Ulica</th>
                                        <th>Miasto</th>
                                        <th>Akcje</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for building in client.buildings %}
                                        <tr>
                                            <td><a class="btn btn-outline-info btn-sm"
                                                   href="{{ path('building_show', { 'id': building.id }) }}">
                                                    <i class="la la-search"></i> Pokaż</a>
                                            </td>
                                            <td >
                                                <div class="media">
                                                    <div class="media-body media-middle">
                                                        <a class="media-heading name">{{ building.name }}</a>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-center"
                                                >
                                                <div>{{ building.street }} {{ building.houseNo }}
                                                    {% if building.flatNo is not null %}/ {{ building.flatNo }}{% endif %}</div>
                                            </td>
                                            <td class="text-center"
                                                >
                                                {{ building.city }}
                                            </td>

                                            <td>
                                                <a href="{{ path('building_edit', { 'id': building.id }) }}"
                                                   class="primary edit mr-1"><i class="la la-pencil"></i></a>
                                                <a data-href="{{ path('client_delete_building', { 'id': client.id, 'building': building.id }) }}"
                                                   class="danger delete-building-btn mr-1"><i
                                                            class="la la-trash-o"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% elseif menu=="product" %}
        <section class="row all-contacts">
            <div class="col-12">
                <div class="card">
                    <div class="card-head">
                        <div class="card-header">
                            <h4 class="card-title">Lista ofert</h4>
                            <div class="heading-elements mt-0">
                            </div>
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <!-- Task List table -->
                            {#<button type="button" class="btn btn-sm btn-danger delete-all mb-1">Delete All</button>#}
                            <div class="table-responsive">
                                <table id="table-clients"
                                       class="table table-stripped mb-0 row-grouping display no-wrap icheck table-middle text-center">
                                    <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Nazwa</th>
                                        <th>Klient</th>
                                        <th>Data dodania</th>
                                        <th>Wygasa</th>
                                        <th>Status</th>
                                        <th>Wartość</th>
                                        <th>Akcje</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for offert in client.offerts %}
                                        {% set bgColor = "" %}
                                        {% if offert.status == "Aktywna" %}
                                            {% set bgColor = "bg-light-green" %}
                                        {% elseif offert.status == "Wygasa" %}
                                            {% set bgColor = "bg-light-orange" %}
                                        {% elseif offert.status =="Zamknięte" %}
                                            {% set bgColor = "bg-light-red" %}
                                        {% endif %}

                                        <tr class="{{ bgColor }}">
                                            <td>
                                                <a href="{{ path('offert_show', { 'id': offert.id }) }}">{{ offert.id }}</a>
                                            </td>
                                            <td>{{ offert.name }}</td>
                                            <td>{% if offert.clients is not empty %}{{ offert.clients|first.name }}{% endif %}</td>
                                            <td>{% if offert.addDate %}{{ offert.addDate|date('Y-m-d') }}{% endif %}</td>
                                            <td>{% if offert.expireDate %}{{ offert.expireDate|date('Y-m-d') }}{% endif %}</td>
                                            <td>{{ offert.status }}</td>
                                            <td>{{ offert.totalValue|price }}</td>
                                            <td>
                                                <a href="{{ path('offert_show', { 'id': offert.id }) }}"
                                                   class="primary edit mr-1"><i class="la la-pencil"></i></a>
                                                <a class="danger delete mr-1"><i class="la la-trash-o"></i></a>
                                                <span class="dropdown">
                                                                <a id="btnSearchDrop2" data-toggle="dropdown"
                                                                   aria-haspopup="true" aria-expanded="true"
                                                                   class="dropdown-toggle dropdown-menu-right"><i
                                                                            class="la la-ellipsis-v"></i></a>
                                                                <span aria-labelledby="btnSearchDrop2"
                                                                      class="dropdown-menu mt-1 dropdown-menu-right">
                                                                    <a href="{{ path('offert_show', { 'id': offert.id }) }}"
                                                                       class="dropdown-item"><i
                                                                                class="ft-edit-2"></i>
                                                                        Edytuj</a>
                                                                    <a href="#" class="dropdown-item delete"><i
                                                                                class="ft-trash-2"></i> Usuń</a>

                                                                </span>
                                                            </span>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <tfoot>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    {% endif %}

{% endblock %}

{% block scripts %}

    <!-- BEGIN: Vendor JS-->
    <script src="{{ asset('app-assets/vendors/js/vendors.min.js') }}"></script>
    <script src="{{ asset('app-assets/vendors/js/tables/datatable/datatables.min.js') }}"></script>
    <script src="{{ asset('app-assets/vendors/js/extensions/sweetalert.min.js') }}"></script>
    <!-- END: Page Vendor JS-->


    <!-- BEGIN: My JS-->
    <script src="{{ asset('assets/js/client.js') }}"></script>
    <!-- END: My JS-->


{% endblock %}