{% extends 'base.html.twig' %}

    {% block title %}Lista przeglądów{% endblock %}

    {% block body %}
        <!-- Content header -->
        <div class="content-header row">
            <div class="content-header-left col-md-6 col-12">
                <h3 class="content-header-title mb-0">Lista przeglądów</h3>
                <div class="row breadcrumbs-top">
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{ path('micro_default_index') }}">Główna</a>
                            </li>

                            <li class="breadcrumb-item active">Lista przeglądów
                            </li>

                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!-- Content header -->


        <section class="row all-contacts">
            <div class="col-12">
                <div class="card">
                    <div class="card-head">
                        <div class="card-header">
                            <h4 class="card-title">Lista przeglądów</h4>
                            <div class="heading-elements mt-0">
                            </div>
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <!-- Task List table -->
                            {#<button type="button" class="btn btn-sm btn-danger delete-all mb-1">Delete All</button>#}
                            <div class="table-responsive">
                                <table id="table-documents"
                                       class="table table-white-space table-bordered row-grouping display no-wrap icheck table-middle text-center">
                                    <thead>
                                    <tr>
                                        <th>Pokaż</th>
                                        <th>Nazwa</th>
                                        <th>Klient</th>
                                        <th>Budynek</th>
                                        <th>Data przeglądu</th>
                                        <th>Data następnego</th>
                                        <th>Ilość urządzeń</th>

                                        <th>Akcje</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for document in documents %}
                                        <tr>
                                            <td><a class="btn btn-outline-info btn-sm"
                                                   href="{{ path('document_show', { 'id': document.id }) }}">
                                                    <i class="la la-search"></i> Pokaż</a>
                                            </td>
                                            <td>{{ document.name }}</td>
                                            <td>{{ document.building.client.name }}</td>
                                            <td>{{ document.building.name }}</td>
                                            <td>{% if document.inspectionDate %}{{ document.inspectionDate|date('d-m-Y') }}{% endif %}</td>
                                            <td>{% if document.nextInspectionDate %}{{ document.nextInspectionDate|date('d-m-Y') }}{% endif %}</td>
                                            <td>{{ document.docDevices|length }}</td>
                                            <td>
                                                <a href="{{ path('document_edit', { 'id': document.id }) }}"
                                                   class="primary edit mr-1"><i class="la la-pencil"></i></a>
                                                <a data-href="{{ path('document_delete', { 'id': document.id }) }}"
                                                   class="danger delete-document-btn mr-1"><i
                                                            class="la la-trash-o"></i></a>

                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th>Pokaż</th>
                                        <th>Nazwa</th>
                                        <th>Klient</th>
                                        <th>Budynek</th>
                                        <th>Data przeglądu</th>
                                        <th>Data następnego</th>
                                        <th>Ilość urządzeń</th>
                                        <th>Akcje</th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    {% endblock %}

    {% block scripts %}
        <script src="{{ asset('app-assets/vendors/js/tables/datatable/datatables.min.js') }}"></script>

        <script src="{{ asset('app-assets/js/scripts/tables/datatables/datatable-basic.js') }}"></script>
        <script src="{{ asset('app-assets/vendors/js/extensions/sweetalert.min.js') }}"></script>

        <script src="{{ asset('assets/js/document-index.js') }}"></script>

    {% endblock %}
