{% extends 'base.html.twig' %}

{% block title %}Przegląd{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/document.css') }}">
{% endblock %}


{% block body %}
    <input id="session-loop-number" type="hidden" value="{{ app.session.get('loop-number') }}">
    {{ app.session.set('loop-number', 0 ) }}
    <!-- Content header -->
    <div class="content-header row">
        <div class="content-header-left col-md-6 col-12">
            <h3 class="content-header-title mb-0">{{ document.name }}</h3>
            <div class="row breadcrumbs-top">
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a
                                    href="{{ path('micro_default_index') }}">Główna</a>
                        </li>

                        <li class="breadcrumb-item"><a href="{{ path('document_index') }}">Lista
                                dokumentów</a>
                        </li>
                        <li class="breadcrumb-item"><a
                                    href="{{ path('building_show', { 'id': document.building.id }) }}">
                                Budynek {{ document.building.name }}</a>
                        </li>
                        <li class="breadcrumb-item active">Dokument z
                            dnia {% if document.inspectionDate %}{{ document.inspectionDate|date('Y-m-d') }}{% endif %}
                        </li>

                    </ol>
                </div>
            </div>
        </div>
        <div class="content-header-left col-md-6 col-12">
            <div class="btn-group float-md-right" role="group"
                 aria-label="Button group with nested dropdown">
                <div class="btn-group" role="group">
                    <a class="btn btn-outline-info round"
                       href="{{ path('building_show', { 'id' : document.building.id }) }}"><i
                                class="la la-backward"></i> Wróć do budynku</a>
                    <a class="btn btn-outline-info round"
                       href="{{ path('document_devices', { 'id': document.id, 'loop': 1 }) }}">
                        <i class="la la-circle-o-notch"></i>&nbspPętla&nbsp1<br><br>
                        <div class="badge badge-pill badge-info">{{ countDevices['1'] }}</div>
                    </a>
                    <a class="btn btn-outline-info round"
                       href="{{ path('document_devices', { 'id': document.id, 'loop': 2 }) }}">
                        <i class="la la-circle-o-notch"></i>&nbspPętla&nbsp2<br><br>
                        <div class="badge badge-pill badge-info">{{ countDevices['2'] }}</div>
                    </a>
                    <a class="btn btn-outline-info round"
                       href="{{ path('document_devices', { 'id': document.id, 'loop': 3 }) }}">
                        <i class="la la-circle-o-notch"></i>&nbspPętla&nbsp3<br><br>
                        <div class="badge badge-pill badge-info">{{ countDevices['3'] }}</div>
                    </a>
                    <a class="btn btn-outline-info round"
                       href="{{ path('document_devices', { 'id': document.id, 'loop': 4 }) }}">
                        <i class="la la-circle-o-notch"></i>&nbspPętla&nbsp4<br><br>
                        <div class="badge badge-pill badge-info">{{ countDevices['4'] }}</div>
                    </a>

                    <a id="pdf-modal-btn" class="btn btn-outline-info round"
                       data-toggle="modal" data-target="#pdf-modal"><i class="la la-file-pdf-o"></i> Wygeneruj PDF</a>


                </div>
            </div>
        </div>
    </div>
    <!-- Content header -->

    <!-- Basic form layout section start -->
    <section id="horizontal-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title" id="horz-layout-basic">Dane podstawowe</h4>

                        <a class="heading-elements-toggle"><i
                                    class="la la-ellipsis-v font-medium-3"></i></a>
                        <div class="heading-elements mt-0">
                            <a class="btn btn-primary btn-sm "
                               href="{{ path('document_edit', {'id': document.id}) }}"><i
                                        class="la la-edit"></i> Edytuj dane podstawowe</a>
                        </div>

                    </div>
                    <div class="card-content collpase show">
                        <div class="card-body">


                            <h4><i class="ft-clipboard"></i> Budynek objęty przeglądem</h4>
                            <hr>
                            <div class="col-md-8">
                                <table class="table table-borderless table-column">
                                    <tr>
                                        <th>Nazwa budynku:</th>
                                        <td>{{ document.building.name }}</td>
                                    </tr>
                                    <tr>
                                        <th>Ulica:</th>
                                        <td>{{ document.building.street }} {{ document.building.houseNo }}
                                            {% if document.building.flatNo is not null %}/{% endif %}
                                            {{ document.building.flatNo }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Miasto:</th>
                                        <td>{{ document.building.city }}</td>
                                    </tr>

                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card-content collpase show">
                        <div class="card-body">


                            <h4><i class="ft-calendar"></i> Zakres dat</h4>
                            <hr>
                            <div class="col-md-8">
                                <table class="table table-borderless table-column">
                                    <tr>
                                        <th>Data przeglądu:</th>
                                        <td>{% if document.inspectionDate %}{{ document.inspectionDate|date('Y-m-d') }}{% endif %}</td>
                                    </tr>
                                    <tr>
                                        <th>Data następnego przeglądu:</th>
                                        <td>{% if document.nextInspectionDate %}{{ document.nextInspectionDate|date('Y-m-d') }}{% endif %}</td>
                                    </tr>

                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card-content collpase show">
                        <div class="card-body">


                            <h4><i class="ft-briefcase"></i> Zakres wykonanych prac</h4>
                            <hr>
                            <div class="col-md-8">
                                <p>{{ document.scope|nl2br }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-content collpase show">
                        <div class="card-body">


                            <h4><i class="ft-file-text"></i> Wykaz urządzeń objętych przeglądem:</h4>
                            <hr>
                            <div class="col-md-8">
                                <p> {{ document.deviceShortlistPosition|nl2br }} </p>

                            </div>
                        </div>
                    </div>
                    <div class="card-content collpase show">
                        <div class="card-body">


                            <h4><i class="ft-users"></i> Inspektorzy</h4>
                            <hr>
                            <div class="col-md-8">
                                {% if document.inspectors is not empty %}
                                    <table class="table table-borderless table-column">
                                        <tr>
                                            <th>Imię i nazwisko</th>
                                            <th>Nr uprawnień</th>
                                        </tr>
                                        {% for inspector in document.inspectors %}
                                            <tr>
                                                <td>{{ inspector.name }} {{ inspector.surname }}</td>
                                                <td>{{ inspector.license }}</td>
                                            </tr>
                                        {% endfor %}

                                    </table>
                                {% else %}
                                    <p> W tym dokumencie chwilowo brakuje inspektorów</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="card-content collpase show">
                        <div class="card-body">


                            <h4><i class="ft-at-sign"></i> Podstawa opracowania</h4>
                            <hr>
                            <div class="col-md-8">
                                <p>{{ document.legal|nl2br }}</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>






    <!-- Other activities section-->

    <section class="row all-contacts">
        <div class="col-12">
            <div class="card">
                <div class="card-head">
                    <div class="card-header">
                        <h4 class="card-title">Tabela 2 - Pozostałe czynności</h4>
                    </div>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <!-- Task List table -->
                        <button id="add-doc-position" type="button"
                                class="btn btn-sm btn-info mb-1" data-id="{{ document.id }}">
                            Dodaj pozycję
                        </button>

                        <div class="table-responsive">
                            <table id="users-contacts"
                                   class="table table-condensed table-white-space table-bordered row-grouping display no-wrap icheck table-middle text-center">
                                <thead>
                                <tr>
                                    <th>Pozostałe czynności</th>
                                    <th>Wynik</th>
                                    <th>Uwagi</th>
                                    <th>Akcje</th>

                                </tr>
                                </thead>
                                <tbody id='tbody-tests'>

                                {% for position in document.docpositions %}
                                    <tr data-id="{{ position.id }}">
                                        <td class="text-center">
                                            <input class="hidden-op hidden-input"
                                                   id="i-name-{{ position.id }}"
                                                   value="{{ position.name }}"
                                                   readonly>
                                        </td>
                                        <td class="text-center">
                                            {% set checked = false %}
                                            {% if position.test == 1 %}
                                                {% set checked = true %}
                                            {% endif %}
                                            <input type="checkbox" class="column_filter change-checkbox switch"
                                                   id="i-test-{{ position.id }}"
                                                   {% if checked %}checked{% endif %}
                                                   data-icon-cls="fa" data-off-icon-cls="fa ft-thumbs-down"
                                                   data-on-icon-cls="fa ft-thumbs-up"
                                                   data-off-label="NEG"
                                                   data-on-label="POZ"
                                                   data-group-cls="btn-group-sm"
                                            >
                                        </td>
                                        <td class="text-center">
                                            <input class="hidden-op hidden-input"
                                                   id="i-comment-{{ position.id }}"
                                                   value="{{ position.comment }}"
                                                   readonly>
                                        </td>
                                        <td>
                                            <a id="edit-row-btn-{{ position.id }}" data-toggle="tooltip"
                                               title="Edytuj pozycję"
                                               class="primary edit-row-btn mr-1"><i
                                                        class="la la-pencil"></i></a>
                                            <a id="delete-row-btn" data-id ="{{ position.id }}"
                                               data-toggle="tooltip"
                                               title="Usuń z przeglądu"
                                               class="delete-row-btn danger delete mr-1 "><i
                                                        class="la la-trash-o "></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Basic form layout section start -->
    <section id="horizontal-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title" id="horz-layout-basic">Podsumowanie przeglądu</h4>
                        <a class="heading-elements-toggle"><i
                                    class="la la-ellipsis-v font-medium-3"></i></a>
                        <div class="heading-elements mt-0">
                            <a class="btn btn-primary btn-sm "
                               href="{{ path('document_edit_summary', {'id': document.id}) }}"><i
                                        class="la la-edit"></i> Edytuj podsumowanie</a>
                        </div>
                    </div>
                    <div class="card-content collpase show">
                        <div class="card-body">


                            <h4><i class="ft-activity"></i>Wnioski</h4>
                            <hr>
                            <div class="col-md-8">
                                <p>{{ document.conclusion|nl2br }}</p>

                            </div>
                        </div>
                    </div>
                    <div class="card-content collpase show">
                        <div class="card-body">


                            <h4><i class="ft-alert-triangle"></i>Uwagi</h4>
                            <hr>
                            <div class="col-md-8">
                                <p>{{ document.comment|nl2br }}</p>

                            </div>
                        </div>
                    </div>
                    <div class="card-content collpase show">
                        <div class="card-body">


                            <h4><i class="ft-list"></i>Zalecenia</h4>
                            <hr>
                            <div class="col-md-8">
                                <p>{{ document.recomendations|nl2br }}</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    {% include 'document/show-modals.html.twig' %}

{% endblock %}

{% block scripts %}

    <!-- BEGIN: Page Vendor JS-->
    <script src="{{ asset('app-assets/vendors/js/tables/datatable/datatables.min.js') }}"></script>
    <script src="{{ asset('app-assets/vendors/js/forms/toggle/bootstrap-switch.min.js') }}"></script>
    {#<script src="{{ asset('app-assets/vendors/js/forms/toggle/switchery.min.js') }}"></script>#}
    <script src="{{ asset('app-assets/vendors/js/forms/toggle/bootstrap-checkbox.min.js') }}"></script>
    <script src="{{ asset('app-assets/js/scripts/forms/switch.js') }}"></script>
    <script src="{{ asset('app-assets/vendors/js/tables/datatable/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('app-assets/vendors/js/tables/datatable/dataTables.select.min.js') }}"></script>

    <script src="{{ asset('app-assets/vendors/js/tables/datatable/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('app-assets/vendors/js/tables/datatable/buttons.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('app-assets/vendors/js/tables/datatable/dataTables.colVis.js') }}"></script>
    <!-- BEGIN: Page Vendor JS-->
    <script src="{{ asset('app-assets/js/core/libraries/jquery_ui/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('app-assets/vendors/js/extensions/sweetalert.min.js') }}"></script>

    <!-- END: Page Vendor JS-->

    <!-- END: Page Vendor JS-->

    <!-- BEGIN: Page JS-->
    {#<script src="{{ asset('app-assets/js/scripts/tables/datatables/datatable-basic.js') }}"></script>#}
    <!-- END: Page JS-->


    <!-- BEGIN: My JS-->
    <script src="{{ asset('assets/js/sweet-alerts.js') }}"></script>
    <script src="{{ asset('assets/js/document.js') }}"></script>
    <!-- END: My JS-->





{% endblock %}

