<!-- Inspected devices modal-->

<div id="add-device-modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">Wybierz urządzenie ktore chcesz dodać do dokumentu</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">

                <!-- Task List table -->
                <div class="table-responsive">

                    <table id="inspected-devices"
                           class="table table-condensed table-white-space table-bordered row-grouping display no-wrap icheck table-middle text-center">
                        <thead>
                        <h4 class="card-title"></h4>
                        <tr>
                            <th>Pętla</th>
                            <th>Urządzenie</th>
                            <th>Typ</th>
                            <th>Akcje</th>


                        </tr>
                        </thead>
                        <tbody>
                        {% for key, loopDev in loopDevs %}
                            <tr>
                                <th colspan="4">Pętla Numer {{ key + 1 }}</th>
                            </tr>
                            {% for device in loopDev %}
                                <tr
                                        id="mod-{{ device.inspectedDevices|first.id }}"
                                        style="{% if device.inspectedDevices|first.visible %}display:none{% endif %}">

                                    <td>
                                        <div>
                                            <a class="media-heading name">{{ key + 1 }}</a>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div>{{ device.inspectedDevices|first.number }} </div>
                                    </td>
                                    <td class="text-center">
                                        <div>{{ device.inspectedDevices|first.shortname }}</div>
                                    </td>

                                    <td>
                                        <a
                                                id="add-{{ device.inspectedDevices|first.id }}"
                                                class="device-restore btn btn-sm btn-warning mr-1">Przywróć usunięte<i
                                                    class="la la-add"></i></a>

                                    </td>

                                </tr>
                            {% endfor %}
                            {% for  device in loopNullDevs[key] %}
                                <tr
                                        id="mod-{{ device.id }}"
                                >

                                    <td>
                                        <div>
                                            <a class="media-heading name">{{ key + 1 }}</a>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div>{{ device.number }} </div>
                                    </td>
                                    <td class="text-center">
                                        <div>{{ device.shortname }}</div>
                                    </td>

                                    <td>
                                        <a href="{{ path('add_new_device', {'id': fireInspection.id, 'deviceId': device.id}) }}"
                                                class=" btn btn-sm btn-warning mr-1">Dodaj nowe<i
                                                    class="la la-add"></i></a>

                                    </td>

                                </tr>

                            {% endfor %}
                        {% endfor %}
                        </tbody>

                    </table>
                </div>
            </div>


            <div class="modal-footer">
                <a href="{{ path('add_new_device', {'id': fireInspection.id}) }}"
                   class=" btn btn-danger mr-1">Dodaj wszystkie nowe<i
                            class="la la-add"></i></a>
                <button type="button" class="btn btn-info" data-dismiss="modal">Zamknij</button>
            </div>
        </div>
    </div>
</div>

<!-- Info devices modal -->
<div class="modal fade " id="info-modal" role="dialog">
    <div class="modal-dialog modal-lg ">

        <!-- Modal content-->
        <div class="modal-content ">
            <div class="modal-header">
                <h4 class="modal-title">Informacja o urządzeniu</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <p id="dialog-id" style="visibility:hidden"></p>
            <div class="modal-body table-responsive">
                <table class="table table-sm table-bordered ">
                    <tbody>
                    <tr>
                        <th>Numer w pętli</th>
                        <td id="dialog-number"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Nazwa urzadzenia</th>
                        <td id="dialog-name"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Ostatni przegląd</th>
                        <td id="dialog-temp-date"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Numer Seryjny</th>
                        <td>
                            <input class="td-hidden-input" id="dialog-serial" style="border:none; width:100%; "
                                   readonly>
                            {#onblur="readonly(this)#}
                        </td>
                        <td><a class=" info mr-1 edit-info-btn"><i
                                        class="la la-edit "></i></a>
                        </td>
                    </tr>
                    <tr>
                        <th>Adress</th>
                        <td>
                            <input class="td-hidden-input" id="dialog-address" style="border:none; width:100%" readonly>
                            {#onblur="readonly(this)#}
                        </td>
                        <td><a class=" info mr-1 edit-info-btn"><i
                                        class="la la-edit "></i></a>
                        </td>
                    </tr>

                    <tr>
                        <th>Opis</th>
                        <td>

                            <textarea class="td-hidden-input" rows=12 cols=50 id="dialog-description"
                                      style="border:none; width:100%" readonly>
                            </textarea>
                            {#onblur="readonly(this)#}
                        </td>
                        <td><a class=" info mr-1 edit-info-btn"><i
                                        class="la la-edit "></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
            </div>
        </div>

    </div>
</div>

<!-- Pdf settings modal-->

<div id="pdf-modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">Generuj dokument Przeglądu </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                {{ form_start(pdf_form, { 'attr': {'class': 'form form-horizontal'} }) }}

                <div class="form-body">
                    <div class="form-group row">
                        {{ form_label(pdf_form.showTables, 'Dokument z tabelami', { 'label_attr': {'class': 'col-md-3 label-control'} }) }}
                        <div class="col-md-9 mx-auto">
                            {{ form_widget(pdf_form.showTables, { 'attr': {
                                'class': ' switch',
                                'data-icon-cls':'fa',
                                'data-off-icon-cls':'fa ft-thumbs-down',
                                'data-on-icon-cls':'fa ft-thumbs-up',
                                'data-off-label':'OFF',
                                'data-on-label':'ON',
                                'data-group-cls':'btn-group-sm'
                            } }) }}

                        </div>
                    </div>
                    <div class="form-group row">
                        {{ form_label(pdf_form.showBuildingData, 'Widoczne dane budynku', { 'label_attr': {'class': 'col-md-3 label-control'} }) }}
                        <div class="col-md-9 mx-auto">
                            {{ form_widget(pdf_form.showBuildingData, { 'attr': {
                                'class': ' switch',
                                'data-icon-cls':'fa',
                                'data-off-icon-cls':'fa ft-thumbs-down',
                                'data-on-icon-cls':'fa ft-thumbs-up',
                                'data-off-label':'OFF',
                                'data-on-label':'ON',
                                'data-group-cls':'btn-group-sm'
                            } }) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        {{ form_label(pdf_form.showClientData, 'Widoczne dane klienta', { 'label_attr': {'class': 'col-md-3 label-control'} }) }}
                        <div class="col-md-9 mx-auto">
                            {{ form_widget(pdf_form.showClientData, { 'attr': {
                                'class': ' switch form-control',
                                'data-icon-cls':'fa',
                                'data-off-icon-cls':'fa ft-thumbs-down',
                                'data-on-icon-cls':'fa ft-thumbs-up',
                                'data-off-label':'OFF',
                                'data-on-label':'ON',
                                'data-group-cls':'btn-group-sm'
                            } }) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        {{ form_label(pdf_form.showStamp, 'Widoczna pieczątka', { 'label_attr': {'class': 'col-md-3 label-control'} }) }}
                        <div class="col-md-9 mx-auto">
                            {{ form_widget(pdf_form.showStamp, { 'attr': {
                                'class': ' switch',
                                'data-icon-cls':'fa',
                                'data-off-icon-cls':'fa ft-thumbs-down',
                                'data-on-icon-cls':'fa ft-thumbs-up',
                                'data-off-label':'OFF',
                                'data-on-label':'ON',
                                'data-group-cls':'btn-group-sm'
                            } }) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        {{ form_label(pdf_form.inspectors, 'Inspektorzy', { 'label_attr': {'class': 'col-md-3 label-control'} }) }}
                        <div class="col-md-9 mx-auto">
                            {{ form_widget(pdf_form.inspectors, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                    </div>



            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">
                    <i class="la la-check-square-o"></i> Wygeneruj dokument PDF
                </button>
                {{ form_end(pdf_form) }}
                <button type="button" class="btn btn-info" data-dismiss="modal">Zamknij</button>
            </div>
        </div>
    </div>
</div>