<!-- Inspected devices modal-->

<div id="add-device-modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">Wybierz urządzenie ktore chcesz dodać do dokumentu</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">

                <!-- Task List table -->
                <div class="table-responsive">
                    <table id="inspected-devices"
                           class="table table-sm table-white-space table-bordered row-grouping display no-wrap icheck table-middle text-center">
                        <thead>
                        <tr>
                            <th>Pętla</th>
                            <th>Urządzenie</th>
                            <th>Typ</th>
                            {#<th>Data ostatniego przeglądu</th>#}
                            <th>Akcje</th>


                        </tr>
                        </thead>
                        <tbody>
                        {% for device in fireInspection.inspectedDevices|sort %}
                            <tr
                                    id="mod-{{ device.id }}"
                                    style="{% if device.visible %}display:none{% endif %}">

                                <td>
                                    <div>
                                        <a class="media-heading name">{{ device.loopNo }}</a>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <div>{{ device.number }} </div>
                                </td>
                                <td class="text-center">
                                    <div>{{ device.shortname }}</div>
                                </td>
                                {#<td>#}
                                {#</td>#}

                                <td>
                                    <a
                                            id="add-{{ device.id }}"
                                            class="device-row btn btn-sm btn-warning mr-1">Dodaj<i
                                                class="la la-add"></i></a>


                                </td>

                            </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                </div>
            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
            </div>
        </div>
    </div>
</div>

<!-- Info devices modal -->
<div class="modal fade " id="info-modal" role="dialog">
    <div class="modal-dialog modal-lg ">

        <!-- Modal content-->
        <div class="modal-content ">
            <div class="modal-header">
                <h4 class="modal-title">Informacja o urządzeniu</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body table-responsive">
                <table class ="table table-sm table-bordered ">
                    <tbody>
                    <tr>
                        <th >Numer</th>
                        <td id="dialog-number"></td>
                    </tr>
                    <tr>
                        <th>Nazwa</th>
                        <td id="dialog-name"></td>
                    </tr>
                    <tr>
                        <th>Numer Seryjny</th>
                        <td id="dialog-serial"></td>
                    </tr>
                    <tr>
                        <th>Adress</th>
                        <td id="dialog-address"></td>
                    </tr>
                    <tr>
                        <th>Ostatni przegląd</th>
                        <td id="dialog-lastDate"></td>
                    </tr>
                    <tr>
                        <th>Opis</th>
                        {#<td id="dialog-description" ></td>#}
                        {#<td ondblclick="edit(this)"><input id="dialog-description" style="border:none" readonly onblur="readonly(this)"></td>#}
                        <td ondblclick="edit(this)">
                            <textarea rows=10 cols =50 id="dialog-description" style="border:none" readonly onblur="readonly(this)"></textarea>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
