{% extends 'base.html.twig' %}

{% block title %}Przegląd{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/fire-inspection.css') }}">
{% endblock %}


{% block body %}
    <!-- Content header -->
    <div class="content-header row">
        <div class="content-header-left col-md-6 col-12">
            <h3 class="content-header-title mb-0">Przegląd urządzeń przeciwpożarowych</h3>
            <div class="row breadcrumbs-top">
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a
                                    href="{{ path('micro_default_index') }}">Główna</a>
                        </li>

                        <li class="breadcrumb-item"><a href="{{ path('fireinspection_index') }}">Lista
                                przeglądów</a>
                        </li>
                        <li class="breadcrumb-item"><a
                                    href="{{ path('building_show', { 'id': fireInspection.building.id }) }}">
                                Budynek {{ fireInspection.building.name }}</a>
                        </li>
                        <li class="breadcrumb-item active">Przegląd z
                            dnia {% if fireInspection.inspectionDate %}{{ fireInspection.inspectionDate|date('Y-m-d') }}{% endif %}
                        </li>

                    </ol>
                </div>
            </div>
        </div>
        <div class="content-header-left col-md-6 col-12">
            <div class="btn-group float-md-right" role="group"
                 aria-label="Button group with nested dropdown">
                <div class="btn-group" role="group">
                    <a class="btn btn-outline-info round"
                       href="{{ path('building_show', { 'id' : fireInspection.building.id }) }}"><i
                                class="la la-backward"></i> Wróć do budynku</a>

                    {#<a class="btn btn-outline-info round"#}
                    {#href="{{ path('fire_inspection_pdf', { 'fireInspection' : fireInspection.id }) }}"><i#}
                    {#class="la la-backward"></i> PDF</a>#}
                    {#<a class="btn btn-outline-info round"#}
                    {#href="{{ path('fire_inspection_print', { 'fireInspection' : fireInspection.id }) }}"><i#}
                    {#class="la la-backward"></i> Podgląd</a>#}
                    <iframe src="{{ path('fire_inspection_print', { 'fireInspection' : fireInspection.id }) }}"
                            name="frame" style="display: none"></iframe>

                    <button class="btn btn-outline-info round" type="submit" onclick="frames['frame'].print()"
                            value="Drukuj">
                        <i
                                class="la la-print"></i> Drukuj
                    </button>


                </div>
            </div>
        </div>
    </div>
    <!-- Content header -->

    <!-- Basic form layout section start -->
    <section id="horizontal-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title" id="horz-layout-basic">Dane podstawowe</h4>

                        <a class="heading-elements-toggle"><i
                                    class="la la-ellipsis-v font-medium-3"></i></a>
                        <div class="heading-elements mt-0">
                            <a class="btn btn-primary btn-sm "
                               href="{{ path('fireinspection_edit', {'id': fireInspection.id}) }}"><i
                                        class="la la-edit"></i> Edytuj dane podstawowe</a>
                        </div>

                    </div>
                    <div class="card-content collpase show">
                        <div class="card-body">


                            <h4><i class="ft-user"></i> Budynek objęty przeglądem</h4>
                            <hr>
                            <div class="col-md-8">
                                <table class="table table-borderless table-column">
                                    <tr>
                                        <th>Nazwa budynku:</th>
                                        <td>{{ fireInspection.building.name }}</td>
                                    </tr>
                                    <tr>
                                        <th>Ulica:</th>
                                        <td>{{ fireInspection.building.street }} {{ fireInspection.building.houseNo }}
                                            {% if fireInspection.building.flatNo is not null %}/{% endif %}
                                            {{ fireInspection.building.flatNo }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Miasto:</th>
                                        <td>{{ fireInspection.building.city }}</td>
                                    </tr>

                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card-content collpase show">
                        <div class="card-body">


                            <h4><i class="ft-user"></i> Zakres dat</h4>
                            <hr>
                            <div class="col-md-8">
                                <table class="table table-borderless table-column">
                                    <tr>
                                        <th>Data przeglądu:</th>
                                        <td>{% if fireInspection.inspectionDate %}{{ fireInspection.inspectionDate|date('Y-m-d') }}{% endif %}</td>
                                    </tr>
                                    <tr>
                                        <th>Data następnego przeglądu:</th>
                                        <td>{% if fireInspection.nextInspectionDate %}{{ fireInspection.nextInspectionDate|date('Y-m-d') }}{% endif %}</td>
                                    </tr>

                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card-content collpase show">
                        <div class="card-body">


                            <h4><i class="ft-user"></i> Zakres wykonanych prac</h4>
                            <hr>
                            <div class="col-md-8">
                                <p>{{ fireInspection.scope|nl2br }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-content collpase show">
                        <div class="card-body">


                            <h4><i class="ft-user"></i> Wykaz urządzeń objętych przeglądem:</h4>
                            <hr>
                            <div class="col-md-8">
                                <p> {{ fireInspection.deviceShortlistPosition|nl2br }} </p>

                            </div>
                        </div>
                    </div>
                    <div class="card-content collpase show">
                        <div class="card-body">


                            <h4><i class="ft-user"></i> Inspektorzy</h4>
                            <hr>
                            <div class="col-md-8">
                                {% if fireInspection.documentInspectors is not empty %}
                                    <table class="table table-borderless table-column">
                                        <tr>
                                            <th>Imię i nazwisko</th>
                                            <th>Nr uprawnień</th>
                                        </tr>
                                        {% for inspector in fireInspection.documentInspectors %}
                                            <tr>
                                                <td>{{ inspector.name }} {{ inspector.surname }}</td>
                                                <td>{{ inspector.license }}</td>
                                            </tr>
                                        {% endfor %}

                                    </table>
                                {% else %}
                                    <p> W tym dokumencie chwilowo brakuje inspektorów</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="card-content collpase show">
                        <div class="card-body">


                            <h4><i class="ft-user"></i> Podstawa opracowania</h4>
                            <hr>
                            <div class="col-md-8">
                                <p>{{ fireInspection.legal|nl2br }}</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Inspected devices section-->

    {% for key, loopDev in loopDevs %}
        <section class="row all-contacts">
            <div class="col-12">
                <div class="card">
                    <div class="card-head">
                        <div class="card-header">
                            <h4 class="card-title">Pętla Numer {{ key + 1 }}
                            {%  if loopNullDevs[key] is not empty %}
                                <a>&nbsp</a>
                                <a data-toggle="tooltip"
                                            title="Do tej pętli zostały dodane nowe urzadzenia - kliknij żeby je dodać do dokumentu"
                                            class="warning mr-1 "
                                ><i
                                            class="la la-exclamation-triangle "></i>Nowe urządzenia w pętli

                                </a>
                            {%  endif %}
                            </h4>
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <div>
                                <table id="inspected-devices-table"
                                       class=" inspected-devices-table table table-condensed table-white-space table-bordered
                                       row-grouping display no-wrap icheck table-middle text-center
                                       inspected-devices-table ">

                                    <thead>
                                    <tr>
                                        <th>Nr</th>
                                        <th>Typ</th>
                                        <th>Status</th>
                                        <th>Wynik testu</th>
                                        <th>Poprzedni</th>
                                        <th>Akcje</th>
                                        <th>Uwagi</th>


                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for device in loopDev %}
                                        <tr
                                                id="row-{{ device.inspectedDevices|first.id }}"
                                                style="{% if not device.inspectedDevices|first.visible %}display:none{% endif %}"
                                        >


                                            <td class="text-center">
                                               {{ device.inspectedDevices|first.number }}
                                            </td>
                                            <td id="shortname-{{ device.inspectedDevices|first.id }}" class="text-center" >
                                                {{ device.inspectedDevices|first.shortname }}
                                            </td>
                                            <td class="text-center">
                                                {% set checked = false %}
                                                {% if device.inspectedDevices|first.status == 1 %}
                                                    {% set checked = true %}
                                                {% endif %}
                                                <input type="checkbox" class="column_filter status-checkbox switch"
                                                       id="s{{ device.inspectedDevices|first.id }}"
                                                       {% if checked %}checked{% endif %}
                                                       data-icon-cls="fa" data-off-icon-cls="fa ft-thumbs-down"
                                                       data-on-icon-cls="fa ft-thumbs-up"
                                                       data-off-label="OFF"
                                                       data-on-label="ON"
                                                       data-group-cls="btn-group-sm"
                                                >

                                            </td>
                                            <td class="text-center">
                                                {% set checked = false %}
                                                {% if device.inspectedDevices|first.test == 1 %}
                                                    {% set checked = true %}
                                                {% endif %}
                                                <input type="checkbox" class="column_filter status-checkbox switch"
                                                       id="t{{ device.inspectedDevices|first.id }}"
                                                       {% if checked %}checked{% endif %}
                                                       data-icon-cls="fa" data-off-icon-cls="fa ft-thumbs-down"
                                                       data-on-icon-cls="fa ft-thumbs-up"
                                                       data-off-label="NEG"
                                                       data-on-label="POZ"
                                                       data-group-cls="btn-group-sm"
                                                >

                                            </td>

                                            <td>
                                                {% if device.tempServiceDate is null %}
                                                    {% set badgecolor = "badge-secondary" %}
                                                    {% set diff = "brak" %}
                                                    {% set unit = "" %}
                                                {% else %}


                                                    {% set year = "now"|date('y') - device.tempServiceDate|date('y') %}
                                                    {% set month = "now"|date('m') - device.tempServiceDate|date('m') %}
                                                    {% set diff = year * 12 + month %}
                                                    {% set unit = "mies" %}


                                                    {% if  diff > 12 %}
                                                        {% set badgecolor = "badge-danger" %}
                                                    {% elseif  diff > 9 %}
                                                        {% set badgecolor = "badge-warning" %}
                                                    {% elseif  diff > 6 %}
                                                        {% set badgecolor = "badge-primary" %}
                                                    {% elseif  diff > 3 %}
                                                        {% set badgecolor = "badge-info" %}
                                                    {% elseif  diff > 0 %}
                                                        {% set badgecolor = "badge-success" %}
                                                    {% elseif  diff == 0 %}
                                                        {% set badgecolor = "badge-success" %}
                                                        {% set diff = "< 1" %}
                                                    {% elseif  diff < 0 %}
                                                        {% set badgecolor = "badge-danger" %}
                                                        {% set diff = "zaplanowany w przyszłości" %}
                                                        {% set unit = "" %}


                                                    {% endif %}
                                                {% endif %}
                                                <i data-toggle="tooltip"
                                                   title="{% if device.tempServiceDate is not null %}
                                                        {{ device.tempServiceDate|date('Y-m-d') }}
                                                    {% else %}
                                                        brak
                                                    {% endif %}"
                                                   class="badge badge-pill {{ badgecolor }}">{{ diff }} {{ unit }}

                                                </i>
                                            </td>
                                            <td>
                                                <a id="info-{{ device.id }}" data-toggle="tooltip" title="Pokaż info"
                                                   class=" info mr-1 info-modal-btn"><i
                                                            class="la la-info "></i></a>
                                                <a id="del-{{ device.inspectedDevices|first.id }}" data-toggle="tooltip"
                                                   title="Usuń z przeglądu"
                                                   class="device-row danger delete mr-1 "><i
                                                            class="la la-trash-o "></i></a>

                                                <a data-toggle="tooltip"
                                                        {% if device.del %}

                                                            title="Urządzenie usunięte z budynku!" class="warning mr-1"
                                                        {% elseif device.shortname != device.inspectedDevices|first.shortname %}
                                                            title="Typ urządzenia zmieniono na {{ device.shortname }}" class="warning mr-1"
                                                        {% else %}
                                                            title="" class="muted mr-1"
                                                        {% endif %}
                                                ><i
                                                            class="la la-exclamation-triangle"></i>

                                                </a>
                                                <a data-toggle="tooltip" id="update-{{ device.inspectedDevices|first.id }}"
                                                        {% if device.shortname != device.inspectedDevices|first.shortname %}
                                                            title="Zaktualizuj typ urządzenia na {{ device.shortname }}"
                                                            class="warning mr-1 update-ins-device"
                                                        {% else %}
                                                            title="" class="muted mr-1"
                                                        {% endif %}
                                                ><i
                                                            class="la la-refresh "></i>

                                                </a>


                                            </td>
                                            <td class="text-center hidden-input">
                                                <p id="p{{ device.inspectedDevices|first.id }}">{{ device.inspectedDevices|first.comment }}</p>
                                                <input id="c{{ device.inspectedDevices|first.id }}"
                                                       type="hidden" value="">
                                            </td>

                                        </tr>

                                    {% endfor %}

                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    {% endfor %}



    <!-- Other activities section-->



    <!-- Other activities section-->

    <section class="row all-contacts">
        <div class="col-12">
            <div class="card">
                <div class="card-head">
                    <div class="card-header">
                        <h4 class="card-title">Tabela 2 - Pozostałe czynności</h4>
                        {#<div class="heading-elements">#}
                        {#<ul class="list-inline mb-0">#}
                        {#<li><a class="btn btn-sm btn-danger box-shadow-2 round btn-min-width pull-right"#}
                        {#href="#">Dodaj czynność</a></li>#}
                        {#</ul>#}
                        {#</div>#}
                    </div>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <!-- Task List table -->
                        <button id="add-test-position-{{ fireInspection.id }}" type="button"
                                class="add-test-position btn btn-sm btn-info mb-1">
                            Dodaj pozycję
                        </button>

                        <div class="table-responsive">
                            <table id="users-contacts"
                                   class="table table-condensed table-white-space table-bordered row-grouping display no-wrap icheck table-middle text-center">
                                <thead>
                                <tr>
                                    <th>Pozostałe czynności</th>
                                    <th>Wynik</th>
                                    <th>Uwagi</th>
                                    <th>Akcje</th>

                                </tr>
                                </thead>
                                <tbody id='tbody-tests'>

                                {% for test in fireInspection.testpositions %}
                                    <tr id="terow-{{ test.id }}">

                                        <td class="text-center test-hidden-input">
                                            <p id="namep-{{ test.id }}">{{ test.name }}</p>
                                            <input id="namei-{{ test.id }}"
                                                   type="hidden" value="">
                                        </td>
                                        <td class="text-center">
                                            {% set checked = false %}
                                            {% if test.test == 1 %}
                                                {% set checked = true %}
                                            {% endif %}
                                            <input type="checkbox"
                                                   class="column_filter test-checkbox-switch switch "
                                                   id="testc-{{ test.id }}" {% if checked %}checked{% endif %}
                                                   data-icon-cls="fa" data-off-icon-cls="fa ft-thumbs-down"
                                                   data-on-icon-cls="fa ft-thumbs-up"
                                                   data-off-label="NEG"
                                                   data-on-label="POZ"
                                                   data-group-cls="btn-group-sm"
                                            >

                                        </td>
                                        <td class="text-center test-hidden-input">
                                            <p id="commp-{{ test.id }}">{{ test.comment }}</p>
                                            <input id="commi-{{ test.id }}"
                                                   type="hidden" value="">
                                        </td>

                                        <td>
                                            <a
                                                    id="tedel-{{ test.id }}"
                                                    class="test-delete-row btn btn-sm btn-danger mr-1">Usuń<i
                                                        class="la la-add"></i></a>


                                        </td>

                                    </tr>
                                {% endfor %}

                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Basic form layout section start -->
    <section id="horizontal-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title" id="horz-layout-basic">Podsumowanie przeglądu</h4>
                        <a class="heading-elements-toggle"><i
                                    class="la la-ellipsis-v font-medium-3"></i></a>
                        <div class="heading-elements mt-0">
                            <a class="btn btn-primary btn-sm "
                               href="{{ path('fireinspection_edit_summary', {'id': fireInspection.id}) }}"><i
                                        class="la la-edit"></i> Edytuj podsumowanie</a>
                        </div>
                    </div>
                    <div class="card-content collpase show">
                        <div class="card-body">


                            <h4><i class="ft-user"></i>Wnioski</h4>
                            <hr>
                            <div class="col-md-8">
                                <p>{{ fireInspection.conclusion|nl2br }}</p>

                            </div>
                        </div>
                    </div>
                    <div class="card-content collpase show">
                        <div class="card-body">


                            <h4><i class="ft-user"></i>Uwagi</h4>
                            <hr>
                            <div class="col-md-8">
                                <p>{{ fireInspection.comment|nl2br }}</p>

                            </div>
                        </div>
                    </div>
                    <div class="card-content collpase show">
                        <div class="card-body">


                            <h4><i class="ft-user"></i>Zalecenia</h4>
                            <hr>
                            <div class="col-md-8">
                                <p>{{ fireInspection.recomendations|nl2br }}</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    {% include 'fireinspection/modals.html.twig' %}

{% endblock %}

        {% block scripts %}

            <!-- BEGIN: Page Vendor JS-->
            <script src="{{ asset('app-assets/vendors/js/tables/datatable/datatables.min.js') }}"></script>
            <script src="{{ asset('app-assets/vendors/js/forms/toggle/bootstrap-switch.min.js') }}"></script>
            {#<script src="{{ asset('app-assets/vendors/js/forms/toggle/switchery.min.js') }}"></script>#}
            <script src="{{ asset('app-assets/vendors/js/forms/toggle/bootstrap-checkbox.min.js') }}"></script>
            <script src="{{ asset('app-assets/js/scripts/forms/switch.js') }}"></script>
            <script src="{{ asset('app-assets/vendors/js/tables/datatable/dataTables.responsive.min.js') }}"></script>
            <script src="{{ asset('app-assets/vendors/js/tables/datatable/dataTables.select.min.js') }}"></script>

            <script src="{{ asset('app-assets/vendors/js/tables/datatable/dataTables.buttons.min.js') }}"></script>
            <script src="{{ asset('app-assets/vendors/js/tables/datatable/buttons.bootstrap4.min.js') }}"></script>
            <script src="{{ asset('app-assets/vendors/js/tables/datatable/dataTables.colVis.js') }}"></script>
            <!-- BEGIN: Page Vendor JS-->
            <script src="{{ asset('app-assets/js/core/libraries/jquery_ui/jquery-ui.min.js') }}"></script>
            <!-- END: Page Vendor JS-->

            <!-- END: Page Vendor JS-->

            <!-- BEGIN: Page JS-->
            {#<script src="{{ asset('app-assets/js/scripts/tables/datatables/datatable-basic.js') }}"></script>#}
            <!-- END: Page JS-->


            <!-- BEGIN: My JS-->
            <script src="{{ asset('assets/js/fire-inspection.js') }}"></script>
            <!-- END: My JS-->





        {% endblock %}