{% extends 'base.html.twig' %}

{% block title %}Klient{% endblock %}

{% block body %}
    <!-- Content header -->
    <div class="content-header row">
        <div class="content-header-left col-md-6 col-12">
            <h3 class="content-header-title mb-0">Przegląd urządzeń przeciwpożarowych</h3>
            <div class="row breadcrumbs-top">
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a
                                    href="{{ path('micro_default_index') }}">Główna</a>
                        </li>

                        <li class="breadcrumb-item"><a href="{{ path('fireinspection_index') }}">Lista
                                przeglądów</a>
                        </li>
                        <li class="breadcrumb-item"><a
                                    href="{{ path('building_show', { 'id': fireInspection.building.id }) }}">
                                Budynek {{ fireInspection.building.name }}</a>
                        </li>
                        <li class="breadcrumb-item active">Przegląd z
                            dnia {% if fireInspection.inspectionDate %}{{ fireInspection.inspectionDate|date('Y-m-d') }}{% endif %}
                        </li>

                    </ol>
                </div>
            </div>
        </div>
        <div class="content-header-left col-md-6 col-12">
            <div class="btn-group float-md-right" role="group"
                 aria-label="Button group with nested dropdown">
                <div class="btn-group" role="group">
                    <a class="btn btn-outline-info round"
                       href="{{ path('building_show', { 'id' : fireInspection.building.id }) }}"><i
                                class="la la-backward"></i> Wróć do budynku</a>

                    <button class="btn btn-outline-info round dropdown-toggle dropdown-menu-right"
                            id="btnGroupDrop1"
                            type="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false"><i
                                class="icon-cog3 icon-left"></i> Ustawienia
                    </button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1"><a class="dropdown-item"
                                                                                  href="card-bootstrap.html">Bootstrap
                            Cards</a><a class="dropdown-item" href="component-buttons-extended.html">Buttons
                            Extended</a></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content header -->

    <!-- Basic form layout section start -->
    <section id="horizontal-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title" id="horz-layout-basic">Dane podstawowe</h4>

                        <a class="heading-elements-toggle"><i
                                    class="la la-ellipsis-v font-medium-3"></i></a>
                        <div class="heading-elements mt-0">
                            <a class="btn btn-primary btn-sm "
                               href="{{ path('fireinspection_edit', {'id': fireInspection.id}) }}"><i
                                        class="la la-edit"></i> Edytuj dane podstawowe</a>
                        </div>

                    </div>
                    <div class="card-content collpase show">
                        <div class="card-body">


                            <h4><i class="ft-user"></i> Budynek objęty przeglądem</h4>
                            <hr>
                            <div class="col-md-8">
                                <table class="table table-borderless table-column">
                                    <tr>
                                        <th>Nazwa budynku:</th>
                                        <td>{{ fireInspection.building.name }}</td>
                                    </tr>
                                    <tr>
                                        <th>Ulica:</th>
                                        <td>{{ fireInspection.building.street }} {{ fireInspection.building.houseNo }}
                                            {% if fireInspection.building.flatNo is not null %}/{% endif %}
                                            {{ fireInspection.building.flatNo }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Miasto:</th>
                                        <td>{{ fireInspection.building.city }}</td>
                                    </tr>

                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card-content collpase show">
                        <div class="card-body">


                            <h4><i class="ft-user"></i> Zakres dat</h4>
                            <hr>
                            <div class="col-md-8">
                                <table class="table table-borderless table-column">
                                    <tr>
                                        <th>Data przeglądu:</th>
                                        <td>{% if fireInspection.inspectionDate %}{{ fireInspection.inspectionDate|date('Y-m-d') }}{% endif %}</td>
                                    </tr>
                                    <tr>
                                        <th>Data następnego przeglądu:</th>
                                        <td>{% if fireInspection.nextInspectionDate %}{{ fireInspection.nextInspectionDate|date('Y-m-d') }}{% endif %}</td>
                                    </tr>

                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card-content collpase show">
                        <div class="card-body">


                            <h4><i class="ft-user"></i> Zakres wykonanych prac</h4>
                            <hr>
                            <div class="col-md-8">
                                <p>{{ fireInspection.scope|nl2br }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-content collpase show">
                        <div class="card-body">


                            <h4><i class="ft-user"></i> Wykaz urządzeń objętych przeglądem:</h4>
                            <hr>
                            <div class="col-md-8">
                                <ul>
                                    <li> Centrala ARITECH FP</li>
                                    <li> Czujki optyczne dymu</li>
                                    <li> Czujki termiczne</li>
                                    <li> Sygnalizatory optyczno-akustyczne</li>
                                    <li> Ręczne ostrzegacze pożarowe</li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="card-content collpase show">
                        <div class="card-body">


                            <h4><i class="ft-user"></i> Inspektorzy</h4>
                            <hr>
                            <div class="col-md-8">
                                {% if fireInspection.documentInspectors is not empty %}
                                    <table class="table table-borderless table-column">
                                        <tr>
                                            <th>Imię i nazwisko</th>
                                            <th>Nr uprawnień</th>
                                        </tr>
                                        {% for inspector in fireInspection.documentInspectors %}
                                            <tr>
                                                <td>{{ inspector.name }} {{ inspector.surname }}</td>
                                                <td>{{ inspector.license }}</td>
                                            </tr>
                                        {% endfor %}

                                    </table>
                                {% else %}
                                    <p> W tym dokumencie chwilowo brakuje inspektorów</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="card-content collpase show">
                        <div class="card-body">


                            <h4><i class="ft-user"></i> Podstawa opracowania</h4>
                            <hr>
                            <div class="col-md-8">
                                <p>{{ fireInspection.legal|nl2br }}</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>



    <!-- Inspected devices section-->

    <section class="row all-contacts">
        <div class="col-12">
            <div class="card">
                <div class="card-head">
                    <div class="card-header">
                        <h4 class="card-title">Tabela 1 - Urządzenia</h4>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a class="btn btn-sm btn-danger box-shadow-2 round btn-min-width pull-right"
                                       href="{{ path('fireinspection_load_devices', {'id': fireInspection.id}) }}">
                                        Załaduj wszystkie urządzenia z budynku</a>
                                </li>
                                <li>
                                    <button id="load-miss-device"
                                            class="btn btn-sm btn-info box-shadow-2 round btn-min-width pull-right">
                                        Dodaj do listy brakujące urządzenie
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <!-- Task List table -->
                        <button type="button" class="btn btn-sm btn-danger delete-all mb-1">Delete All</button>
                        <div class="table-responsive">
                            <table id="inspected-devices"
                                   class="table table-white-space table-bordered row-grouping display no-wrap icheck table-middle text-center">
                                <thead>
                                <tr>
                                    <th>Pętli</th>
                                    <th>Urządzenie</th>
                                    <th>Typ</th>
                                    <th>Status</th>
                                    <th>Wynik testu</th>
                                    <th>Uwagi</th>
                                    <th>Akcje</th>


                                </tr>
                                </thead>
                                <tbody>
                                {% for device in fireInspection.inspectedDevices|sort %}
                                    <tr id="row-{{ device.id }}">
                                        <td>
                                            <div>
                                                <a class="media-heading name">{{ device.loopNo }}</a>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div>{{ device.number }} </div>
                                        </td>
                                        <td class="text-center">
                                            <div>{{ device.shortname }}</div>
                                        </td>
                                        <td class="text-center">
                                            {% set checked = false %}
                                            {% if device.status == 1 %}
                                                {% set checked = true %}
                                            {% endif %}
                                            <input type="checkbox" class="column_filter status-checkbox switch"
                                                   id="s{{ device.id }}" {% if checked %}checked{% endif %}
                                                   data-icon-cls="fa" data-off-icon-cls="fa ft-thumbs-down"
                                                   data-on-icon-cls="fa ft-thumbs-up"
                                                   data-off-label="OFF"
                                                   data-on-label="ON"
                                            >

                                        </td>
                                        <td class="text-center">
                                            {% set checked = false %}
                                            {% if device.test == 1 %}
                                                {% set checked = true %}
                                            {% endif %}
                                            <input type="checkbox" class="column_filter status-checkbox switch"
                                                   id="t{{ device.id }}" {% if checked %}checked{% endif %}
                                                   data-icon-cls="fa" data-off-icon-cls="fa ft-thumbs-down"
                                                   data-on-icon-cls="fa ft-thumbs-up"
                                                   data-off-label="NEG"
                                                   data-on-label="POZ"
                                            >

                                        </td>
                                        <td class="text-center hidden-input">
                                            <p id="p{{ device.id }}">{{ device.comment }}</p>
                                            <input id="c{{ device.id }}"
                                                   type="hidden" value="">
                                        </td>

                                        <td>
                                            <a data-toggle="modal" data-target="#EditContactModal"
                                               id="edit-{{ device.id }}"
                                               class="primary edit mr-1"><i class="la la-pencil"></i></a>
                                            <a id="del-{{ device.id }}" class="danger delete mr-1 del-device"><i
                                                        class="la la-trash-o"></i></a>

                                        </td>

                                    </tr>
                                {% endfor %}
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Other activities section-->

    <section class="row all-contacts">
        <div class="col-12">
            <div class="card">
                <div class="card-head">
                    <div class="card-header">
                        <h4 class="card-title">Tabela 2 - Pozostałe czynności</h4>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a class="btn btn-sm btn-danger box-shadow-2 round btn-min-width pull-right"
                                       href="#">Dodaj czynność</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <!-- Task List table -->
                        <button type="button" class="btn btn-sm btn-danger delete-all mb-1">Delete All</button>
                        <div class="table-responsive">
                            <table id="users-contacts"
                                   class="table table-white-space table-bordered row-grouping display no-wrap icheck table-middle text-center">
                                <thead>
                                <tr>
                                    <th>Pozostałe czynności</th>
                                    <th>Wynik</th>
                                    <th>Uwagi</th>
                                    <th>Akcje</th>

                                </tr>
                                </thead>
                                <tbody>
                                {#{% for building in client.buildings %}#}
                                {#<tr>#}
                                {#<td>{{ building.id }}</td>#}
                                {#<td onclick='location.href = "{{ path('building_show', { 'id': building.id }) }}";'>#}
                                {#<div class="media">#}
                                {#<div class="media-left pr-1"><span#}
                                {#class="avatar avatar-sm avatar-online rounded-circle"><img#}
                                {#src="../../../app-assets/images/portrait/small/avatar-s-2.png"#}
                                {#alt="avatar"><i></i></span></div>#}
                                {#<div class="media-body media-middle">#}
                                {#<a class="media-heading name">{{ building.name }}</a>#}
                                {#</div>#}
                                {#</div>#}
                                {#</td>#}
                                {#<td class="text-center"#}
                                {#onclick='location.href = "{{ path('building_show', { 'id': building.id }) }}";'>#}
                                {#<div>{{ building.street }} {{ building.houseNo }}#}
                                {#/{{ building.flatNo }}</div>#}
                                {#</td>#}
                                {#<td class="text-center"#}
                                {#onclick='location.href = "{{ path('building_show', { 'id': building.id }) }}";'>#}
                                {#{{ building.city }}#}
                                {#</td>#}

                                {#<td>#}
                                {#<a href="{{ path('building_edit', { 'id': building.id }) }}"#}
                                {#class="primary edit mr-1"><i class="la la-pencil"></i></a>#}
                                {#<a class="danger delete mr-1"><i class="la la-trash-o"></i></a>#}
                                {#<span class="dropdown">#}
                                {#<a id="btnSearchDrop2" data-toggle="dropdown"#}
                                {#aria-haspopup="true" aria-expanded="true"#}
                                {#class="dropdown-toggle dropdown-menu-right"><i#}
                                {#class="la la-ellipsis-v"></i></a>#}
                                {#<span aria-labelledby="btnSearchDrop2"#}
                                {#class="dropdown-menu mt-1 dropdown-menu-right">#}
                                {#<a href="{{ path('building_edit', { 'id': building.id }) }}"#}
                                {#class="dropdown-item"><i#}
                                {#class="ft-edit-2"></i>#}
                                {#Edytuj</a>#}
                                {#<a href="#" class="dropdown-item delete"><i#}
                                {#class="ft-trash-2"></i> Usuń</a>#}
                                {#<a href="{{ path('building_new', { 'client': client.id }) }}"#}
                                {#class="dropdown-item"><i#}
                                {#class="ft-plus-circle warning"></i> Dodaj</a>#}

                                {#</span>#}
                                {#</span>#}
                                {#</td>#}
                                {#</tr>#}
                                {#{% endfor %}#}
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Basic form layout section start -->
    <section id="horizontal-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title" id="horz-layout-basic">Podsumowanie przeglądu</h4>
                        <a class="heading-elements-toggle"><i
                                    class="la la-ellipsis-v font-medium-3"></i></a>
                        <div class="heading-elements mt-0">
                            <a class="btn btn-primary btn-sm "
                               href="{{ path('fireinspection_edit_summary', {'id': fireInspection.id}) }}"><i
                                        class="la la-edit"></i> Edytuj podsumowanie</a>
                        </div>
                    </div>
                    <div class="card-content collpase show">
                        <div class="card-body">


                            <h4><i class="ft-user"></i>Wnioski</h4>
                            <hr>
                            <div class="col-md-8">
                                <p>{{ fireInspection.conclusion|nl2br }}</p>

                            </div>
                        </div>
                    </div>
                    <div class="card-content collpase show">
                        <div class="card-body">


                            <h4><i class="ft-user"></i>Uwagi</h4>
                            <hr>
                            <div class="col-md-8">
                                <p>{{ fireInspection.comment|nl2br }}</p>

                            </div>
                        </div>
                    </div>
                    <div class="card-content collpase show">
                        <div class="card-body">


                            <h4><i class="ft-user"></i>Zalecenia</h4>
                            <hr>
                            <div class="col-md-8">
                                <p>{{ fireInspection.recomendations|nl2br }}</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        </div>
    </section>

{% endblock %}

{% block scripts %}

    <!-- BEGIN: Page Vendor JS-->
    <script src="{{ asset('app-assets/vendors/js/tables/datatable/datatables.min.js') }}"></script>
    <!-- END: Page Vendor JS-->

    <!-- BEGIN: Page JS-->
    <script src="{{ asset('app-assets/js/scripts/tables/datatables/datatable-basic.js') }}"></script>
    <!-- END: Page JS-->

    <!-- BEGIN: AJAX change status and test -->
    <script>
        $('.status-checkbox').change(function () {

            $.ajax({
                url: '/inspecteddevice/' + this.id.substring(1) + '/changestatus/' + this.id.substring(0, 1),
                type: 'POST',
                dataType: 'json',
                async: true,

                success: function (data, status) {


                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('Błąd requestu ajax.');
                }
            });
        })


    </script>

    <!-- BEGIN: AJAX change comment -->
    <script>
        $(document).ready(function () {
            $(".hidden-input").click(function () {

                var comment = $(this).find('p').text();

                $(this).find("input").attr('type', 'text').val(comment).focus();
                $(this).find('p').text('');
            });
        });

        $(document).ready(function () {
            $(".hidden-input").find("input").blur(function () {
                $(this).attr('type', 'hidden');
                var comm = ($(this).val().toString() == "") ? null : $(this).val();

                $.ajax({
                    url: '/inspecteddevice/' + this.id.substring(1) + '/changecomment/' + comm,
                    type: 'POST',
                    dataType: 'json',
                    async: true,

                    success: function (data) {
                        var id = data['id'];
                        $("#p" + id).text(data['comm']);

                    },
                    error: function () {
                        $(this).parent().find('p').text('Wprowadź ponownie');
                    }
                });
            });
        });
    </script>

    <!-- BEGIN: AJAX delete device -->
    <script>
        $(document).ready(function () {
            $('.del-device').click(function () {
                var device = this.id.substring(4);
                $.ajax({
                    url: '/fireinspection/' + {{ fireInspection.id }} +'/delete/' + device,
                    type: 'DELETE',
                    dataType: 'json',
                    async: true,

                    success: function (data) {
                        $('#row-' + device).remove();
                        if (data['success'] == false) {
                            alert("Pomyślnie usunięto urządzenie");
                        } else {
                            alert("Wystąpił problem z usunięciem tego urządzenia z bazy!");
                        }
                        ;


                    },
                    error: function () {
                        alert('Błąd usuwania - spróbuj przeładować stronę');
                    }
                });
            });
        });
    </script>

    <!-- BEGIN: AJAX delete device -->
    <script>
        $(document).ready(function () {
            $('#load-miss-device').click(function () {
                var device = this.id.substring(4);
                $.ajax({
                    url: '/fireinspection/' + {{ fireInspection.id }} +'/loadmissdevices',
                    type: 'POST',
                    dataType: 'json',
                    async: true,

                    success: function (data) {

                        console.log(data['missing-devices']);




                    },
                    error: function () {
                        alert('Błąd ładowania');
                    }
                });
            });
        });
    </script>

    <script>

        $('#inspected-devices').DataTable({
            "order": [[0, 'asc'], [1, 'asc'], [2, 'asc']],
            "language": {
                "lengthMenu": "Pokaż _MENU_ wierszy na stronie",
                "zeroRecords": "Niestety brak wyników",
                "info": "Stron _PAGE_ z _PAGES_",
                "infoEmpty": "Brak wierszy",
                "infoFiltered": "(znaleziono z _MAX_ wszystkich wierszy)"
            },
            "paging": false,
        });

    </script>
    <!-- BEGIN: Page Vendor JS-->
    <script src="{{ asset('app-assets/vendors/js/forms/toggle/bootstrap-switch.min.js') }}"></script>
    <script src="{{ asset('app-assets/vendors/js/forms/toggle/switchery.min.js') }}"></script>
    <script src="{{ asset('app-assets/vendors/js/forms/toggle/bootstrap-checkbox.min.js') }}"></script>


    <!-- END: Page Vendor JS-->
    <script src="{{ asset('app-assets/js/scripts/forms/switch.js') }}"></script>



{% endblock %}