
    <!-- BEGIN: Main Menu-->

    <div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true">
        <div class="main-menu-content">
            <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
                <li class=" nav-item"><a href="{{ path('micro_default_index') }}"><i class="la la-home "></i><span
                                class="menu-title"
                                data-i18n="nav.dash.main">Główna strona</span></a>
                </li>
                <li class=" nav-item"><a href="{{ path('client_index') }}"><i class="la la-group "></i><span
                                class="menu-title"
                                data-i18n="nav.dash.main">Klienci</span><span
                                id="counter-clients"
                                class="badge badge-pill float-right mr-2"></span></a>
                    <ul class="menu-content">
                        <li><a class="menu-item" href="{{ path('client_index') }}"><i></i><span
                                        data-i18n="nav.dash.ecommerce">Lista klientów</span></a>
                        </li>

                    </ul>
                    <ul class="menu-content">
                        <li><a class="menu-item" href="{{ path('client_new') }}"><i></i><span
                                        data-i18n="nav.dash.ecommerce">Dodaj nowego</span></a>
                        </li>

                    </ul>
                </li>
                <li class=" nav-item"><a href="{{ path('building_index') }}"><i class="la la-building-o"></i><span
                                class="menu-title"
                                data-i18n="nav.dash.main">Budynki</span><span
                                id="counter-buildings"
                                class="badge badge-pill float-right mr-2"></span></a>
                    <ul class="menu-content">
                        <li><a class="menu-item" href="{{ path('building_index') }}"><i></i><span
                                        data-i18n="nav.dash.ecommerce">Lista budynków</span></a>
                        </li>

                    </ul>
                </li>
                <li class=" nav-item"><a href="{{ path('document_index') }}"><i class="la la-list-alt "></i><span
                                class="menu-title "
                                data-i18n="nav.dash.main">Przeglądy</span><span
                                id="counter-documents"
                                class="badge badge-pill float-right mr-2"></span></a>
                    <ul class="menu-content">
                        <li><a class="menu-item" href="{{ path('document_index') }}"><i></i><span
                                        data-i18n="nav.dash.ecommerce">Lista przeglądów</span></a>
                        </li>

                    </ul>
                </li>


            </ul>
        </div>
    </div>

    <!-- END: Main Menu-->


{#{% block base_scripts %}#}
    {#<!-- BEGIN: AJAX menu -->#}
    {#<script>#}
        {#function fillBadges() {#}
            {#$.ajax({#}
                {#url: '/menu-counter',#}
                {#type: 'POST',#}
                {#dataType: 'json',#}
                {#async: true,#}

                {#success: function (data, status) {#}

                    {#$('#counter-clients').addClass("badge-danger").text(data['clients']);#}
                    {#$('#counter-buildings').addClass("badge-danger").text(data['buildings']);#}
                    {#$('#counter-documents').addClass("badge-danger").text(data['documents']);#}
                    {#$('.counter-documents').text(data['documents']);#}

                {#},#}

            {#});#}
        {#}#}

        {#fillBadges();#}
        {#setInterval(fillBadges, 120000);#}

    {#</script>#}

    {#<!-- END: AJAX menu-->#}
{#{% endblock %}#}


