
    <!-- BEGIN: Main Menu-->

    <div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true">
        <div class="main-menu-content">
            <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
                <li class=" nav-item"><a href="{{ path('micro_default_index') }}"><i class="la la-home "></i><span
                                class="menu-title"
                                data-i18n="nav.dash.main">Główna strona</span></a>
                </li>
                <li class=" nav-item"><a href="{{ path('offert_index') }}"><i class="la la-newspaper-o"></i><span
                                class="menu-title"
                                data-i18n="nav.dash.main">Oferty</span><span
                                id="counter-buildings"
                                class="badge badge-pill float-right mr-2"></span></a>
                    <ul class="menu-content">
                        <li><a class="menu-item" href="{{ path('offert_index') }}"><i></i><span
                                        data-i18n="nav.dash.ecommerce">Lista ofert</span></a>
                        </li>

                    </ul>
                </li>
                {% if mainCategories is defined %}
                    {% for mainCategory in mainCategories %}
                        <li class=" nav-item"><a href="{{ path('product_index_category', { categoryId : mainCategory.id}) }}"><i class="la la-laptop "></i><span
                                        class="menu-title"
                                        data-i18n="nav.dash.main">{{ mainCategory.name }}</span><span
                                        id="counter-users"
                                        class="badge badge-pill float-right mr-2"></span></a>
                            <ul class="menu-content">
                                <li><a href="{{ path('product_index_category', { categoryId : mainCategory.id}) }}" class="menu-item" href="{{ path('user_index') }}"><i></i><span
                                                data-i18n="nav.dash.ecommerce">Pokaż wszystkie</span></a>
                                </li>
                                {% for subCategory in mainCategory.children %}
                                    <li><a class="menu-item" href="{{ path('product_index_category', { categoryId : subCategory.id}) }}"><i></i><span
                                                    data-i18n="nav.dash.ecommerce">{{ subCategory.name }}</span></a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                {% endif %}

            </ul>
        </div>
    </div>

    <!-- END: Main Menu-->



{#{% block scripts %}#}
    {#<!-- BEGIN: AJAX menu -->#}
    {#<script>#}
        {#function fillBadges() {#}
            {#$.ajax({#}
                {#url: '/menu-counter',#}
                {#type: 'POST',#}
                {#dataType: 'json',#}
                {#async: true,#}

                {#success: function (data, status) {#}

                    {#$('#counter-clients').addClass("badge-info").text(data['clients']);#}
                    {#$('#counter-buildings').addClass("badge-info").text(data['buildings']);#}
                    {#$('#counter-documents').addClass("badge-info").text(data['documents']);#}
                    {#$('.counter-documents').text(data['documents']);#}

                {#},#}

            {#});#}
        {#}#}

        {#fillBadges();#}
        {#setInterval(fillBadges, 120000);#}

    {#</script>#}

    {#<!-- END: AJAX menu-->#}
{#{% endblock %}#}


