{% for fireProtectionDevice in fireProtectionDevices %}
    <tr>
        <td>
            <a href="{{ path('fireprotectiondevice_show', { 'id': fireProtectionDevice.id }) }}">{{ fireProtectionDevice.id }}</a>
        </td>
        <td>{{ fireProtectionDevice.name }}</td>
        <td>{{ fireProtectionDevice.shortname }}</td>
        <td>{{ fireProtectionDevice.loopNo }}</td>
        <td>{{ fireProtectionDevice.number }}</td>
        <td>{% if fireProtectionDevice.lastServiceDate %}{{ fireProtectionDevice.lastServiceDate|date('Y-m-d H:i:s') }}{% endif %}</td>
        <td>
            <ul>
                <li>
                    <a href="{{ path('fireprotectiondevice_show', { 'id': fireProtectionDevice.id }) }}">show</a>
                </li>
                <li>
                    <a href="{{ path('fireprotectiondevice_edit', { 'id': fireProtectionDevice.id }) }}">edit</a>
                </li>
            </ul>
        </td>
    </tr>
{% endfor %}

{% extends 'base_document.html.twig' %}

{% block title %}Lista przeglądów{% endblock %}

{% block body %}
    <!-- Content header -->
    <div class="content-header row">
        <div class="content-header-left col-md-6 col-12">
            <h3 class="content-header-title mb-0">Lista Przeglądów PPOŻ</h3>
            <div class="row breadcrumbs-top">
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('micro_default_index') }}">Główna</a>
                        </li>

                        <li class="breadcrumb-item active">Lista Przeglądóœ PPOŻ
                        </li>

                    </ol>
                </div>
            </div>
        </div>
        <div class="content-header-left col-md-6 col-12">
            <div class="btn-group float-md-right" role="group" aria-label="Button group with nested dropdown">
                <div class="btn-group" role="group">
                    <a class="btn btn-outline-info round" href="{{ path('fireprotectiondevice_new') }}"><i
                                class="la la-user-plus"></i> Dodaj nowy</a>

                    <button class="btn btn-outline-info round dropdown-toggle dropdown-menu-right" id="btnGroupDrop1"
                            type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                                class="icon-cog3 icon-left"></i> Ustawienia
                    </button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1"><a class="dropdown-item"
                                                                                  href="card-bootstrap.html">Bootstrap
                            Cards</a><a class="dropdown-item" href="component-buttons-extended.html">Buttons
                            Extended</a></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content header -->


    <section class="row all-contacts">
        <div class="col-12">
            <div class="card">
                <div class="card-head">
                    <div class="card-header">
                        <h4 class="card-title">Lista przeglądów</h4>
                        <div class="heading-elements mt-0">
                        </div>
                    </div>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <!-- Task List table -->
                        {#<button type="button" class="btn btn-sm btn-danger delete-all mb-1">Delete All</button>#}
                        <div class="table-responsive">
                            <table id="users-contacts"
                                   class="table table-white-space table-bordered row-grouping display no-wrap icheck table-middle text-center">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Nazwa</th>
                                    <th>Skrót</th>
                                    <th>Email</th>
                                    <th>Telefon</th>
                                    <th>Liczba Budynków</th>
                                    <th>Akcje</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for client in clients %}
                                    <tr>
                                        <td>{{ client.id }}</td>
                                        <td onclick='location.href = "{{ path('client_show', { 'id': client.id }) }}";'>
                                            <div class="media">
                                                <div class="media-left pr-1"><span
                                                            class="avatar avatar-sm avatar-online rounded-circle"><img
                                                                src="../../../app-assets/images/portrait/small/avatar-s-2.png"
                                                                alt="avatar"><i></i></span></div>
                                                <div class="media-body media-middle">
                                                    <a class="media-heading name">{{ client.name }}</a>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-center"
                                            onclick='location.href = "{{ path('client_show', { 'id': client.id }) }}";'>
                                            <div>{{ client.shortname }}</div>
                                        </td>
                                        <td class="text-center">
                                            <a class="email" href="mailto:email@example.com">{{ client.email }}</a>
                                        </td>
                                        <td class="phone"
                                            onclick='location.href = "{{ path('client_show', { 'id': client.id }) }}";'>
                                            {{ client.phoneNumber }}
                                        </td>
                                        <td>

                                            {{ client.buildings|length }}
                                        </td>

                                        <td>
                                            <a href="{{ path('client_edit', { 'id': client.id }) }}"
                                               class="primary edit mr-1"><i class="la la-pencil"></i></a>
                                            <a class="danger delete mr-1"><i class="la la-trash-o"></i></a>
                                            <span class="dropdown">
                                                                <a id="btnSearchDrop2" data-toggle="dropdown"
                                                                   aria-haspopup="true" aria-expanded="true"
                                                                   class="dropdown-toggle dropdown-menu-right"><i
                                                                            class="la la-ellipsis-v"></i></a>
                                                                <span aria-labelledby="btnSearchDrop2"
                                                                      class="dropdown-menu mt-1 dropdown-menu-right">
                                                                    <a href="{{ path('client_edit', { 'id': client.id }) }}"
                                                                       class="dropdown-item"><i
                                                                                class="ft-edit-2"></i>
                                                                        Edytuj</a>
                                                                    <a href="#" class="dropdown-item delete"><i
                                                                                class="ft-trash-2"></i> Usuń</a>
                                                                    <a href="{{ path('client_new') }}"
                                                                       class="dropdown-item"><i
                                                                                class="ft-plus-circle warning"></i> Dodaj</a>

                                                                </span>
                                                            </span>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>Id</th>
                                    <th>Nazwa</th>
                                    <th>Skrót</th>
                                    <th>Email</th>
                                    <th>Telefon</th>
                                    <th>Liczba Budynków</th>
                                    <th>Akcje</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block scripts %}
    <script src="{{ asset('app-assets/vendors/js/tables/datatable/datatables.min.js') }}"></script>

    <script src="{{ asset('app-assets/js/scripts/tables/datatables/datatable-basic.js') }}"></script>

{% endblock %}
